Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ⚠️  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm vitest run

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat(reveal): make session finale shareable
  app/globals.css
  app/recap/[code]/opengraph-image.tsx
  backlog.d/023-reveal-ceremony-and-shareable-artifact.md
  components/PoemDisplay.tsx
  components/SessionRecapHub.tsx
  hooks/useCeremonyEffects.ts
  hooks/useSharePoem.ts
  tests/components/PoemDisplay.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/hooks/useSharePoem.test.ts
Due: lint, format

feat(onboarding): teach first writers inline
  app/join/page.tsx
  app/page.tsx
  backlog.d/024-zero-friction-join-and-onboarding.md
  components/WritingScreen.tsx
  tests/app/onboarding-copy.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/e2e/reveal-share.spec.ts
  tests/e2e/support/guestFlow.ts
Due: lint, format

test(reveal): cover ceremony effects, mute toggle, and share truncation
  tests/components/SessionRecapHub.test.tsx
  tests/hooks/useCeremonyEffects.test.ts
  tests/hooks/useSharePoem.test.ts
Due: lint, format

test(reveal): widen branch coverage margin past the CI skew
  tests/components/PoemDisplay.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/hooks/useCeremonyEffects.test.ts
Due: lint, format

test(e2e): scope ceremony text waits with first() — strict-mode collision
  tests/e2e/reveal-share.spec.ts
Due: lint, format

fix(og): collapse multi-node text children — satori layout crash
  app/recap/[code]/opengraph-image.tsx
Due: lint, format

feat: make reveal shareable and teach first writers (#292)
  app/globals.css
  app/join/page.tsx
  app/page.tsx
  app/recap/[code]/opengraph-image.tsx
  backlog.d/023-reveal-ceremony-and-shareable-artifact.md
  backlog.d/024-zero-friction-join-and-onboarding.md
  components/PoemDisplay.tsx
  components/SessionRecapHub.tsx
  components/WritingScreen.tsx
  hooks/useCeremonyEffects.ts
  hooks/useSharePoem.ts
  tests/app/onboarding-copy.test.tsx
  tests/components/PoemDisplay.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/e2e/reveal-share.spec.ts
  tests/e2e/support/guestFlow.ts
  tests/hooks/useCeremonyEffects.test.ts
  tests/hooks/useSharePoem.test.ts
Due: lint, format

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  1cd17390c2efb61c7b12d799847f3abb040db7ad
Due: none

docs(truth-sweep): retire orphaned vision.md, drop stale sections, add rollback runbook
  AGENTS.md
  docs/deployment.md
  docs/vision.md
  project.md
Due: format

docs(truth-sweep): retire orphaned vision.md, drop stale sections, add rollback runbook (#293)
  AGENTS.md
  docs/deployment.md
  docs/vision.md
  project.md
Due: format

fix(convex): bound launch reads and live game failures
  app/room/[code]/page.tsx
  components/RoomPanelErrorBoundary.tsx
  convex/ai.ts
  convex/archive.ts
  convex/poems.ts
  convex/schema.ts
  docs/evidence/linejam-021/after-scan.md
  docs/evidence/linejam-021/baseline-scan.md
  docs/evidence/linejam-021/plan.html
  docs/evidence/linejam-021/verification.md
  tests/app/room-page.test.tsx
  tests/convex/aiLifecycle.test.ts
  tests/convex/archive.test.ts
  tests/convex/poems.test.ts
  tests/convex/readPathGuards.test.ts
Due: lint, format

fix(convex): bound launch reads and live game failures (#294)
  app/room/[code]/page.tsx
  components/RoomPanelErrorBoundary.tsx
  convex/ai.ts
  convex/archive.ts
  convex/poems.ts
  convex/schema.ts
  docs/evidence/linejam-021/after-scan.md
  docs/evidence/linejam-021/baseline-scan.md
  docs/evidence/linejam-021/plan.html
  docs/evidence/linejam-021/verification.md
  tests/app/room-page.test.tsx
  tests/convex/aiLifecycle.test.ts
  tests/convex/archive.test.ts
  tests/convex/poems.test.ts
  tests/convex/readPathGuards.test.ts
Due: lint, format

chore(release): 1.15.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  4074056051875f3bb4bcd3d5b3c94aee10b490a2
Due: none

chore(license): add MIT license
  LICENSE
Due: none

test(e2e): freeze selector contract
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  app/host/page.tsx
  app/join/page.tsx
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/SessionRecapHub.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  components/ui/WordSlots.tsx
  docs/testing.md
  lib/e2eTestIds.ts
  package.json
  tests/e2e/early-smoke.spec.ts
  tests/e2e/prod-smoke.spec.ts
  tests/e2e/support/guestFlow.ts
  tests/lib/e2eTestIds.test.ts
Due: lint, format

chore(license): add MIT license (#296)
  LICENSE
Due: none

fix(ui): wire themed design tokens
  AGENTS.md
  README.md
  app/error.tsx
  app/global-error.tsx
  app/globals.css
  components/Lobby.tsx
  components/PoemDisplay.tsx
  tests/lib/themes/tailwind-theme-contract.test.ts
Due: lint, format

fix(convex): drop legacy mode columns
  convex/lib/gameRules.ts
  convex/migrations.ts
  convex/schema.ts
  tests/convex/abandonment.test.ts
  tests/convex/aiLifecycle.test.ts
  tests/convex/fillStaleHumanTurns.test.ts
  tests/convex/hostMigration.test.ts
  tests/convex/legacyModeColumns.test.ts
  tests/convex/roomLifecycle.test.ts
  tests/convex/rooms.test.ts
  tests/helpers/convexTest.ts
Due: lint, format

fix(convex): drop legacy mode columns (#298)
  convex/lib/gameRules.ts
  convex/migrations.ts
  convex/schema.ts
  tests/convex/abandonment.test.ts
  tests/convex/aiLifecycle.test.ts
  tests/convex/fillStaleHumanTurns.test.ts
  tests/convex/hostMigration.test.ts
  tests/convex/legacyModeColumns.test.ts
  tests/convex/roomLifecycle.test.ts
  tests/convex/rooms.test.ts
  tests/helpers/convexTest.ts
Due: lint, format

fix(csp): allow the production Clerk custom domain
  next.config.ts
  tests/next-config.test.ts
Due: lint, format

fix(csp): allow the production Clerk custom domain (#299)
  next.config.ts
  tests/next-config.test.ts
Due: lint, format

fix(csp): derive Clerk origins from the publishable key, not a static list
  next.config.ts
  scripts/ci/bootstrap-convex-env.mjs
  scripts/lib/clerk-domain.mjs
  tests/next-config.test.ts
Due: lint, format

fix(ci): page on Production Smoke failure via a Canary TTL monitor (P0)
  .github/workflows/prod-smoke.yml
  docs/ops/canary-responder.md
  scripts/ops/count-consecutive-prod-smoke-failures.mjs
  scripts/ops/report-prod-smoke-status.mjs
  tests/scripts/count-consecutive-prod-smoke-failures.test.ts
  tests/scripts/report-prod-smoke-status.test.ts
Due: lint, format

feat(ci): gate schema contractions from shipping with their own migration
  .github/workflows/ci.yml
  AGENTS.md
  docs/convex-migrations.md
  scripts/ci/check-schema-migration-sequencing.mjs
  tests/scripts/check-schema-migration-sequencing.test.ts
Due: lint, format

fix(release): repair the Release pipeline and end the /releases split-brain
  .github/workflows/release.yml
  AGENTS.md
  content/releases/manifest.json
  content/releases/v1.0.0/changelog.json
  content/releases/v1.1.0/changelog.json
  content/releases/v1.1.1/changelog.json
  content/releases/v1.1.2/changelog.json
  content/releases/v1.1.3/changelog.json
  content/releases/v1.10.0/changelog.json
  content/releases/v1.11.0/changelog.json
  content/releases/v1.12.0/changelog.json
  content/releases/v1.13.0/changelog.json
  content/releases/v1.14.0/changelog.json
  content/releases/v1.15.0/changelog.json
  content/releases/v1.15.1/changelog.json
  content/releases/v1.2.0/changelog.json
  content/releases/v1.3.0/changelog.json
  content/releases/v1.4.0/changelog.json
  content/releases/v1.5.0/changelog.json
  content/releases/v1.6.0/changelog.json
  content/releases/v1.7.0/changelog.json
  content/releases/v1.8.0/changelog.json
  content/releases/v1.9.0/changelog.json
  content/releases/v1.9.1/changelog.json
  docs/releases-static-store.md
  scripts/release/backfill-static-releases.mjs
  scripts/release/conventional-commits.mjs
  scripts/release/static-release-store.mjs
  scripts/release/write-release-from-git.mjs
  tests/scripts/conventional-commits.test.ts
  tests/scripts/release-manifest-version.test.ts
  tests/scripts/static-release-store.test.ts
  tests/scripts/write-release-from-git.test.ts
Due: lint, format

fix(test): stop shelling out to git in the schema-sequencing regression fixture
  tests/scripts/check-schema-migration-sequencing.test.ts
Due: lint, format

feat(onboarding): add pnpm doctor as the verified-live setup check
  AGENTS.md
  README.md
  docs/releases-static-store.md
  lib/releases/index.ts
  lib/releases/parser.ts
  package.json
  scripts/doctor.mjs
  scripts/generate-releases.ts
  scripts/lib/clerk-domain.mjs
  scripts/setup.sh
  tests/scripts/clerk-domain.test.ts
  tests/scripts/doctor.test.ts
Due: lint, format

test(e2e): add a major-page smoke matrix at desktop and ~390px
  tests/e2e/major-page-smoke.spec.ts
Due: lint, format

test(coverage): ratchet the Vitest floor from 85% with evidence
  docs/testing.md
  scripts/ci/check-schema-migration-sequencing.mjs
  scripts/release/write-release-from-git.mjs
  tests/app/join-page.test.tsx
  tests/scripts/check-schema-migration-sequencing.test.ts
  tests/scripts/write-release-from-git.test.ts
  vitest.config.ts
Due: lint, format

fix(doctor): point the app-health check at pnpm dev's actual port
  docs/convex-migrations.md
  scripts/doctor.mjs
  tests/scripts/doctor.test.ts
Due: lint, format

fix(evidence): wrap static theme evidence server to suppress stale Convex/Canary noise
  docs/testing.md
  package.json
  scripts/evidence/static-server.mjs
  tests/scripts/static-server.test.ts
Due: lint, format

docs(convex): document non-interactive migration probes for isolated worktrees
  AGENTS.md
  scripts/convex/probe-function-exists.mjs
  tests/scripts/convex-probe-function-exists.test.ts
Due: lint, format

feat(site): add public marketing site from the Aesthetic site-kit
  .github/workflows/pages.yml
  site/DESIGN.md
  site/aesthetic.css
  site/assets/screenshots/01-overview.png
  site/assets/screenshots/02-workflow.png
  site/assets/screenshots/03-release.png
  site/assets/screenshots/gameplay-mobile-390.png
  site/assets/screenshots/linejam-app-mobile-390.png
  site/changelog.html
  site/index.html
  site/marketing.css
  site/marketing.js
  site/mode.js
  site/theme.js
Due: lint, format

feat(agent): add CLI + MCP faces over the Convex core, plus the skill
  .agents/skills/linejam-cli/SKILL.md
  AGENTS.md
  package.json
  scripts/cli/linejam-cli.ts
  scripts/lib/linejamClient.ts
  scripts/mcp/linejam-mcp.ts
  tests/scripts/linejam-cli.test.ts
  tests/scripts/linejam-mcp.test.ts
Due: lint, format

fix(errors): ConvexError taxonomy so friendly messages survive production
  app/host/page.tsx
  app/join/page.tsx
  convex/README.md
  convex/ai.ts
  convex/favorites.ts
  convex/game.ts
  convex/lib/assignPoemReaders.ts
  convex/lib/auth.ts
  convex/lib/room.ts
  convex/rooms.ts
  convex/users.ts
  eslint.config.mjs
  lib/e2eTestIds.ts
  lib/errorFeedback.ts
  tests/convex/rooms.test.ts
  tests/e2e/errors.spec.ts
  tests/lib/e2eTestIds.test.ts
  tests/lib/errorFeedback.test.ts
Due: lint, format

fix(lint): also gate bare Error() calls in player-path Convex throws
  eslint.config.mjs
Due: none
