Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ‚ö†Ô∏è  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm test:ci

    coverage-info:
      run: |
        if [ -f coverage/coverage-summary.json ]; then
          LINES=$(jq '.total.lines.pct' coverage/coverage-summary.json 2>/dev/null || echo "N/A")
          BRANCHES=$(jq '.total.branches.pct' coverage/coverage-summary.json 2>/dev/null || echo "N/A")
          FUNCTIONS=$(jq '.total.functions.pct' coverage/coverage-summary.json 2>/dev/null || echo "N/A")
          STATEMENTS=$(jq '.total.statements.pct' coverage/coverage-summary.json 2>/dev/null || echo "N/A")
          echo ""
          echo "üìä Current Test Coverage:"
          echo "  Lines:      ${LINES}% (target: 80%)"
          echo "  Branches:   ${BRANCHES}% (target: 80%)"
          echo "  Functions:  ${FUNCTIONS}% (target: 80%)"
          echo "  Statements: ${STATEMENTS}% (target: 80%)"
          echo ""
        else
          echo "‚ÑπÔ∏è  No coverage data found. Run 'pnpm test:ci' to generate coverage."
        fi

    build:
      run: pnpm build:check

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

chore: update Convex generated types
  convex/_generated/api.d.ts
  convex/ai.ts
  convex/lib/assignPoemReaders.ts
  tests/lib/assignPoemReaders.test.ts
Due: lint, format

Add AI player support with Gemini integration (#16)
  BACKLOG.md
  DESIGN.md
  SPEC.md
  TASK.md
  app/globals.css
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  components/ui/Alert.tsx
  components/ui/BotBadge.tsx
  components/ui/Button.tsx
  components/ui/Card.tsx
  components/ui/HostBadge.tsx
  components/ui/Input.tsx
  components/ui/Label.tsx
  convex/_generated/api.d.ts
  convex/ai.ts
  convex/game.ts
  convex/lib/ai/fallbacks.ts
  convex/lib/ai/llm.ts
  convex/lib/ai/personas.ts
  convex/lib/ai/providers/openrouter.ts
  convex/lib/ai/providers/types.ts
  convex/lib/ai/wordCountGuard.ts
  convex/lib/assignPoemReaders.ts
  convex/rooms.ts
  convex/schema.ts
  lib/themes/presets/hyper.ts
  lib/themes/presets/mono.ts
  lib/themes/presets/vintage-paper.ts
  tests/components/Lobby.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/convex/game.test.ts
  tests/convex/rooms.test.ts
  tests/lib/ai/llm.test.ts
  tests/lib/ai/personas.test.ts
  tests/lib/ai/wordCountGuard.test.ts
  tests/lib/assignPoemReaders.test.ts
Due: lint, format

chore: docs cleanup
  DESIGN.md
  SPEC.md
  TASK.md
Due: format

Fix React Server Components CVE vulnerabilities
  package.json
  pnpm-lock.yaml
Due: format

feat: replace EnsoCounter with WordSlots component
  components/WritingScreen.tsx
  components/ui/EnsoCounter.tsx
  components/ui/WordSlots.tsx
  tests/components/WritingScreen.test.tsx
  tests/components/ui/EnsoCounter.test.tsx
Due: lint, format

feat: add help modal with floating button
  app/room/[code]/page.tsx
  components/HelpModal.tsx
Due: lint, format

feat: capture author display name at write-time for pen name support
  convex/ai.ts
  convex/game.ts
  convex/migrations.ts
  convex/poems.ts
  convex/schema.ts
Due: lint, format

refactor: remove QR code functionality
  BACKLOG.md
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/RoomQr.tsx
  convex/_generated/api.d.ts
  docs/design-system.md
  package.json
  pnpm-lock.yaml
  tests/components/Lobby.test.tsx
  tests/components/RevealPhase.test.tsx
Due: lint, format

refactor: polish reveal and poem display UX
  app/globals.css
  app/room/[code]/page.tsx
  components/Footer.tsx
  components/HelpModal.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/ui/Avatar.tsx
  convex/ai.ts
  tests/components/RevealPhase.test.tsx
Due: lint, format

fix: leave lobby now removes player from room
  components/Lobby.tsx
  convex/rooms.ts
  tests/components/Lobby.test.tsx
  tests/convex/rooms.test.ts
Due: lint, format

fix: remove unused variables in assignPoemReaders tests
  tests/lib/assignPoemReaders.test.ts
Due: lint, format

fix: update E2E tests to use WordSlots #word-slots selector
  tests/e2e/errors.spec.ts
  tests/e2e/game-flow.spec.ts
Due: lint, format

docs: refresh stale documentation with Dec 2025 features
  AGENTS.md
  CLAUDE.md
  README.md
  docs/deployment.md
  docs/testing.md
Due: format

fix: address PR #18 review feedback
  BACKLOG.md
  app/globals.css
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/ui/WordSlots.tsx
  convex/migrations.ts
Due: lint, format

test: add avatarColor tests to fix CI branch coverage
  tests/lib/avatarColor.test.ts
Due: lint, format

chore: update backlog
  BACKLOG.md
Due: format

perf: speed up pre-push hook by removing coverage and build
  lefthook.yml
Due: none

fix: address PR #18 review feedback
  components/HelpModal.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
Due: lint, format

fix: pre-push tests all branch changes, not just last commit
  lefthook.yml
Due: none

perf: optimize slow tests by grouping module reloads
  lefthook.yml
  tests/app/api/guest-session.test.ts
  tests/app/api/health.test.ts
  tests/lib/sentry.test.ts
Due: lint, format

fix: wrap vitest in timeout to handle teardown hang
  docs/test-suite-investigation.md
  lefthook.yml
  vitest.config.ts
Due: lint, format

fix: vitest config and CI quality gate improvements
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  tests/components/Lobby.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/convex/game-convex-test-example.test.ts
  tests/hooks/useSharePoem.test.ts
  tests/lib/auth.test.ts
  vitest.config.ts
Due: lint, format

fix: prevent infinite loop in avatarColor when users exceed palette size
  .github/workflows/ci.yml
  CLAUDE.md
  lefthook.yml
  lib/avatarColor.ts
  vitest.config.ts
Due: lint, format

test: add missing branch coverage for auth hook
  tests/lib/auth.test.ts
Due: lint, format

feat: add authorStableId for unique author colors in poem reveal
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  convex/game.ts
Due: lint, format

refactor(tests): apply never-mock-internal-collaborators principle
  BACKLOG.md
  CLAUDE.md
  tests/components/Lobby.test.tsx
  tests/components/PoemDisplay.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/convex/game.test.ts
Due: lint, format

chore: add archive pagination backlog item and update generated types
  BACKLOG.md
Due: format

chore: delete unused lib/logger.ts
  BACKLOG.md
  app/api/guest/session/route.ts
  app/api/health/route.ts
  lib/logger.ts
  package.json
  pnpm-lock.yaml
  tests/app/api/guest-session.test.ts
  tests/app/api/health.test.ts
Due: lint, format

fix(ci): add permissions for coverage report comments
  .github/workflows/ci.yml
Due: none

fix(ci): add contents permission for checkout in test-build job
  .github/workflows/ci.yml
Due: none

chore: delete unused lib/logger.ts (#19)
  .github/workflows/ci.yml
  BACKLOG.md
  app/api/guest/session/route.ts
  app/api/health/route.ts
  lib/logger.ts
  package.json
  pnpm-lock.yaml
  tests/app/api/guest-session.test.ts
  tests/app/api/health.test.ts
Due: lint, format

refactor: extract getRoomByCode helper, secure random shuffle
  convex/ai.ts
  convex/game.ts
  convex/lib/assignmentMatrix.ts
  convex/lib/room.ts
  convex/poems.ts
  convex/rooms.ts
  tests/convex/game.test.ts
Due: lint, format

test: increase coverage thresholds to 85% with Ousterhout refactoring
  convex/lib/ai/personas.ts
  convex/lib/assignPoemReaders.ts
  lib/auth.ts
  lib/guestSession.ts
  tests/convex/game.test.ts
  tests/helpers/mockConvexDb.ts
  vitest.config.ts
Due: lint, format

chore: remove completed tasks from backlog
  BACKLOG.md
  convex/_generated/api.d.ts
Due: lint, format

fix: address PR #20 review feedback
  convex/lib/ai/personas.ts
  convex/lib/assignmentMatrix.ts
  lib/guestSession.ts
  tests/components/Lobby.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/lib/ai/personas.test.ts
  tests/lib/auth.test.ts
Due: lint, format

refactor: extract getRoomByCode helper, secure random shuffle (#20)
  BACKLOG.md
  convex/_generated/api.d.ts
  convex/ai.ts
  convex/game.ts
  convex/lib/ai/personas.ts
  convex/lib/assignPoemReaders.ts
  convex/lib/assignmentMatrix.ts
  convex/lib/room.ts
  convex/poems.ts
  convex/rooms.ts
  lib/auth.ts
  lib/guestSession.ts
  tests/components/Lobby.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/convex/game.test.ts
  tests/helpers/mockConvexDb.ts
  tests/lib/ai/personas.test.ts
  tests/lib/auth.test.ts
  vitest.config.ts
Due: lint, format

test(e2e): add complete 9-round game coverage
  tests/e2e/favorites.spec.ts
  tests/e2e/game-flow.spec.ts
Due: lint, format
