Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

docs: version-reset note (1.x/2.x → 0.x) (#320)
  CHANGELOG.md
Due: format

chore(release): advance landmark SHA pin to v0.28.1
  .github/workflows/release.yml
Due: none

chore(release): advance landmark SHA pin to v0.28.1 (#321)
  .github/workflows/release.yml
Due: none

chore: cut Linejam Canary over to DigitalOcean
  .env.example
  convex/lib/canary.ts
  docs/deployment.md
  lib/canaryCore.ts
  next.config.ts
  scripts/canary/context.mjs
  scripts/canary/setup-webhook.mjs
  tests/lib/canary.test.ts
Due: lint, format

docs(vision): put trust and party evidence first
  VISION.md
  project.md
Due: format

revert: keep Canary fallbacks on the verified Fly host
  .env.example
  convex/lib/canary.ts
  docs/deployment.md
  lib/canaryCore.ts
  next.config.ts
  scripts/canary/context.mjs
  scripts/canary/setup-webhook.mjs
  tests/lib/canary.test.ts
Due: lint, format

docs(vision): put trust and party evidence first (#322)
  VISION.md
  project.md
Due: format

fix(ci): install pnpm before Pages cache lookup
  .github/workflows/pages.yml
  tests/ci/pages-workflow.test.ts
Due: lint, format

fix(ci): install pnpm before Pages cache lookup (#323)
  .github/workflows/pages.yml
  tests/ci/pages-workflow.test.ts
Due: lint, format

chore(release): 0.16.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  1d024bfbf77c4e83bd547db9d6d7dab02993084c
Due: none

fix(ci): declare the Pages release runner
  package.json
  pnpm-lock.yaml
  tests/ci/pages-workflow.test.ts
Due: lint, format

style: format for Prettier 3.9
  docs/test-suite-investigation.md
  instrumentation.ts
Due: lint, format

fix(ci): declare the Pages release runner (#325)
  package.json
  pnpm-lock.yaml
  tests/ci/pages-workflow.test.ts
Due: lint, format

chore(release): 0.16.2 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  eee94d4d869d0465a57b8a321b7713e6d5cbe4fa
Due: none

fix(responder): preserve Playwright browser path
  scripts/canary/trigger-smoke.mjs
  tests/scripts/canary-trigger-smoke.test.ts
Due: lint, format

fix(responder): preserve Playwright browser path (#326)
  scripts/canary/trigger-smoke.mjs
  tests/scripts/canary-trigger-smoke.test.ts
Due: lint, format

chore(release): 0.16.3 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  f05b744b9c8889dc8cc0f044abfcb77467f34e72
Due: none

fix(auth): fail open to guest play
  lib/auth.ts
  package.json
  tests/e2e/clerk-outage.spec.ts
  tests/lib/auth.test.ts
Due: lint, format

test(auth): block every Clerk script host
  tests/e2e/clerk-outage.spec.ts
Due: lint, format

test(auth): prove runtime Clerk isolation
  tests/e2e/clerk-outage.spec.ts
  tests/lib/auth.test.ts
Due: lint, format

fix(auth): preserve established guest sessions
  lib/auth.ts
  tests/lib/auth.test.ts
Due: lint, format

fix(abandonment): bound sweep fan-out and stop rolling back error reports
  convex/abandonment.ts
  tests/convex/abandonment.test.ts
Due: lint, format

fix(health): gate /api/health on Convex env capability report
  app/api/health/route.ts
  convex/health.ts
  convex/lib/env.ts
  tests/app/api/health.test.ts
Due: lint, format

fix(auth): fail open to guest play (#327)
  lib/auth.ts
  package.json
  tests/e2e/clerk-outage.spec.ts
  tests/lib/auth.test.ts
Due: lint, format

chore(release): 0.16.4 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  5816dff05e26be94d3e37dc1db8c06bb97cd36ca
Due: none

fix: bound abandonment sweep + gate health on Convex env capabilities (prod incident 2026-07-09) (#328)
  app/api/health/route.ts
  convex/abandonment.ts
  convex/health.ts
  convex/lib/env.ts
  tests/app/api/health.test.ts
  tests/convex/abandonment.test.ts
Due: lint, format

chore(release): 0.16.5 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  362ea053857df749634d649a0d91f0574a41ffa7
Due: none

docs(postmortem): 2026-07-09 prod env + abandonment sweep outage
  docs/postmortems/2026-07-09-prod-env-and-sweep-outage.md
Due: format

docs(agents): codify bounded scheduler fan-out + report-survives-throw
  AGENTS.md
Due: format

docs(solutions): Convex scheduled functions roll back with a throwing mutation
  docs/solutions/convex/scheduled-functions-roll-back-with-the-mutation.md
Due: format

docs(solutions): Convex scheduled functions roll back with a throwing mutation (#329)
  docs/solutions/convex/scheduled-functions-roll-back-with-the-mutation.md
Due: format

fix(ops): page repeated production smoke failures
  .github/workflows/prod-smoke.yml
  docs/ops/canary-responder.md
  scripts/ops/count-consecutive-prod-smoke-failures.mjs
  scripts/ops/report-prod-smoke-status.mjs
  tests/scripts/count-consecutive-prod-smoke-failures.test.ts
  tests/scripts/report-prod-smoke-status.test.ts
Due: lint, format

fix(ops): bound smoke alert detail
  .github/workflows/prod-smoke.yml
Due: none

fix(ops): report safe smoke failure location
  .github/workflows/prod-smoke.yml
Due: none

fix(ops): page repeated production smoke failures (#330)
  .github/workflows/prod-smoke.yml
  docs/ops/canary-responder.md
  scripts/ops/count-consecutive-prod-smoke-failures.mjs
  scripts/ops/report-prod-smoke-status.mjs
  tests/scripts/count-consecutive-prod-smoke-failures.test.ts
  tests/scripts/report-prod-smoke-status.test.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md,css}
