Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

chore(release): 0.16.6 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  3fbdf077adb5ba54a15f0464988377ad5e2b73c4
Due: none

fix(ops): classify production Convex rate limits
  app/api/guest/session/route.ts
  lib/auth.ts
  lib/canaryCore.ts
  lib/guestSession.ts
  tests/app/api/guest-session.test.ts
  tests/lib/auth.test.ts
  tests/lib/canary.test.ts
  tests/lib/guestSession.test.ts
Due: lint, format

fix(ops): classify production Convex rate limits (#331)
  app/api/guest/session/route.ts
  lib/auth.ts
  lib/canaryCore.ts
  lib/guestSession.ts
  tests/app/api/guest-session.test.ts
  tests/lib/auth.test.ts
  tests/lib/canary.test.ts
  tests/lib/guestSession.test.ts
Due: lint, format

chore(release): 0.16.7 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  b38bcc22d77e1f357bb9092e8bf5704384674427
Due: none

fix(observability): suppress expected convex throttles
  convex/lib/rateLimit.ts
  lib/error.ts
  lib/errorFeedback.ts
  lib/rateLimit.ts
  tests/lib/error.test.ts
Due: lint, format

fix(observability): suppress expected convex throttles (#332)
  convex/lib/rateLimit.ts
  lib/error.ts
  lib/errorFeedback.ts
  lib/rateLimit.ts
  tests/lib/error.test.ts
Due: lint, format

chore(release): 0.16.8 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  7bdfa5a53cfbf83fa913783e8c20c9850a20d150
Due: none

feat(themes): ship the ten-theme collection with an accessibility gate
  app/layout.tsx
  lib/poemCard/fonts.ts
  lib/themes/index.ts
  lib/themes/presets/aloud.ts
  lib/themes/presets/board.ts
  lib/themes/presets/broadside.ts
  lib/themes/presets/catalog.ts
  lib/themes/presets/console.ts
  lib/themes/presets/fold.ts
  lib/themes/presets/hyper.ts
  lib/themes/presets/mono.ts
  lib/themes/presets/overprint.ts
  lib/themes/presets/seats.ts
  lib/themes/presets/vintage-paper.ts
  lib/themes/registry.ts
  lib/themes/types.ts
  tests/lib/themeContrast.test.ts
Due: lint, format

feat(themes): /themes specimen page as the first-class theme picker
  app/themes/page.tsx
  components/Header.tsx
  components/ThemeModeControl.tsx
  components/ThemeSelector.tsx
  components/ThemeSpecimenCard.tsx
  tests/app/themes-page.test.tsx
  tests/components/ThemeSelector.test.tsx
Due: lint, format

fix(themes): anchor roving tabindex when the saved theme is retired
  app/themes/page.tsx
  components/ThemeSelector.tsx
  tests/app/themes-page.test.tsx
Due: lint, format

refactor(themes): share roving radio nav between both pickers
  app/themes/page.tsx
  components/ThemeSelector.tsx
  hooks/useThemeRadioNav.ts
Due: lint, format

chore: retire Linejam Fly deployment paths
  .env.example
  .github/workflows/preview-smoke.yml
  AGENTS.md
  CONTRIBUTING.md
  Dockerfile.responder
  SECURITY.md
  convex/lib/canary.ts
  docs/ARCHITECTURE.md
  docs/deployment.md
  docs/ops/canary-responder.md
  docs/ops/observability-ci.md
  docs/testing.md
  fly.responder.toml
  lib/canaryCore.ts
  next.config.ts
  scripts/canary/context.mjs
  scripts/canary/setup-webhook.mjs
  tests/lib/canary.test.ts
  tests/next-config.test.ts
Due: lint, format

chore: retire Linejam Fly deployment paths (#334)
  .env.example
  .github/workflows/preview-smoke.yml
  AGENTS.md
  CONTRIBUTING.md
  Dockerfile.responder
  SECURITY.md
  convex/lib/canary.ts
  docs/ARCHITECTURE.md
  docs/deployment.md
  docs/ops/canary-responder.md
  docs/ops/observability-ci.md
  docs/testing.md
  fly.responder.toml
  lib/canaryCore.ts
  next.config.ts
  scripts/canary/context.mjs
  scripts/canary/setup-webhook.mjs
  tests/lib/canary.test.ts
  tests/next-config.test.ts
Due: lint, format

chore: update Canary integration receipt
  .canary/integration.json
Due: format

chore: update Canary integration receipt (#335)
  .canary/integration.json
Due: format

chore(release): 0.17.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  bc5312159a24ecbc26733462b1a492d2fbb192e1
Due: none

fix(themes): hydration-safe theme state in the picker hook
  hooks/useThemeRadioNav.ts
Due: lint, format

fix(themes): hydration-safe theme state in the picker hook (#336)
  hooks/useThemeRadioNav.ts
Due: lint, format

chore(release): 0.17.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  1f7f09270bc90eeabe4ef8946f58fc5ffce922e4
Due: none

chore(ops): retire Vercel runtime wiring
  .env.example
  .github/workflows/ci.yml
  AGENTS.md
  app/api/guest/session/route.ts
  app/layout.tsx
  dagger/src/index.ts
  docs/deployment.md
  docs/ops/observability-ci.md
  lib/analytics.ts
  lib/logger.ts
  next.config.ts
  package.json
  playwright.smoke.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/canary/trigger-smoke.mjs
  scripts/check-provider-retirement.mjs
  scripts/ci/bootstrap-convex-env.mjs
  tests/app/api/guest-session.test.ts
  tests/components/RecapExportButton.test.tsx
  tests/e2e/support/guestFlow.ts
  tests/e2e/support/vercelProtection.ts
  tests/lib/analytics.test.ts
  tests/next-config.test.ts
  tests/scripts/bootstrap-convex-env.test.ts
  tests/scripts/guest-flow-evidence.test.ts
  tests/support/vercelProtection.test.ts
Due: lint, format

fix(ci): run retirement guard through Dagger
  .github/workflows/ci.yml
Due: none

chore(ops): retire Vercel runtime wiring (#337)
  .env.example
  .github/workflows/ci.yml
  AGENTS.md
  app/api/guest/session/route.ts
  app/layout.tsx
  dagger/src/index.ts
  docs/deployment.md
  docs/ops/observability-ci.md
  lib/analytics.ts
  lib/logger.ts
  next.config.ts
  package.json
  playwright.smoke.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/canary/trigger-smoke.mjs
  scripts/check-provider-retirement.mjs
  scripts/ci/bootstrap-convex-env.mjs
  tests/app/api/guest-session.test.ts
  tests/components/RecapExportButton.test.tsx
  tests/e2e/support/guestFlow.ts
  tests/e2e/support/vercelProtection.ts
  tests/lib/analytics.test.ts
  tests/next-config.test.ts
  tests/scripts/bootstrap-convex-env.test.ts
  tests/scripts/guest-flow-evidence.test.ts
  tests/support/vercelProtection.test.ts
Due: lint, format

feat(spine): reshape the game screens to the design-lab spine
  DESIGN.md
  app/host/page.tsx
  app/join/page.tsx
  app/page.tsx
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  components/ui/WordSlots.tsx
  tests/components/Lobby.test.tsx
  tests/components/PoemDisplay.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/WaitingScreen.test.tsx
  tests/components/ui/WordSlots.test.tsx
Due: lint, format

fix(spine): review findings — safe-area on entry bars, reduced motion, aria-current
  app/host/page.tsx
  app/join/page.tsx
  app/page.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
Due: lint, format

test(e2e): target poemDoneButton testid after the Done rename
  tests/e2e/reveal-share.spec.ts
Due: lint, format

feat: game-screen spine from design lab-001 (mobile-first, theme-agnostic) (#338)
  DESIGN.md
  app/host/page.tsx
  app/join/page.tsx
  app/page.tsx
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  components/ui/WordSlots.tsx
  tests/components/Lobby.test.tsx
  tests/components/PoemDisplay.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/WaitingScreen.test.tsx
  tests/components/ui/WordSlots.test.tsx
  tests/e2e/reveal-share.spec.ts
Due: lint, format

chore(release): 0.18.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  6aa73f1759b05238ce2092d33f337176224cfd86
Due: none

chore(ui): update Aesthetic to v0.25.0
  site/aesthetic.css
Due: format

chore(ui): update Aesthetic to v0.25.0 (#342)
  site/aesthetic.css
Due: format

chore: retire repository-local work ledger
  AGENTS.md
  CODEOWNERS
  VISION.md
  backlog.d/README.md
  project.md
  scripts/check-provider-retirement.mjs
Due: format

chore: retire repository-local work ledger (#343)
  AGENTS.md
  CODEOWNERS
  VISION.md
  backlog.d/README.md
  project.md
  scripts/check-provider-retirement.mjs
Due: format

chore(harness): remove retired Codex feature flag
  .codex/config.toml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md,css}
