Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

test(convex): migrate lib/sessionLifecycle suite to convex-test (018)
  tests/convex/lib/sessionLifecycle.test.ts
Due: lint, format

test(convex): migrate rooms suite to convex-test (018)
  tests/convex/rooms.test.ts
Due: lint, format

test(convex): migrate archive suite to convex-test (018)
  tests/convex/archive.test.ts
Due: lint, format

test(convex): migrate aiLifecycle suite to convex-test (018)
  tests/convex/aiLifecycle.test.ts
Due: lint, format

test(convex): migrate poems suite to convex-test (018)
  tests/convex/poems.test.ts
Due: lint, format

test(convex): migrate game suite to convex-test (018)
  tests/convex/game.test.ts
Due: lint, format

test(convex): delete the hand-rolled mock DB (018 complete)
  tests/helpers/mockConvexDb.ts
Due: lint, format

docs: refresh convex-test example comment; archive 018 as done
  backlog.d/_done/018-convex-test-migration.md
  tests/convex/game-convex-test-example.test.ts
Due: lint, format

test(convex): fix type errors in migrated suites (018)
  tests/convex/fillStaleHumanTurns.test.ts
  tests/convex/poems.test.ts
  tests/convex/rooms.test.ts
Due: lint, format

test(convex): extract shared convexSeed helper; dedup suite scaffolding (018)
  tests/convex/aiLifecycle.test.ts
  tests/convex/archive.test.ts
  tests/convex/favorites.test.ts
  tests/convex/fillStaleHumanTurns.test.ts
  tests/convex/game.test.ts
  tests/convex/lib/auth.test.ts
  tests/convex/lib/sessionLifecycle.test.ts
  tests/convex/migrations.test.ts
  tests/convex/poems.test.ts
  tests/convex/presence.test.ts
  tests/convex/roomLifecycle.test.ts
  tests/convex/rooms.test.ts
  tests/convex/shares.test.ts
  tests/convex/users.test.ts
  tests/helpers/convexSeed.ts
Due: lint, format

test(convex): migrate all convex suites to convex-test; delete mock DB (018) (#273)
  backlog.d/_done/016-never-let-the-room-die.md
  backlog.d/_done/018-convex-test-migration.md
  tests/convex/aiLifecycle.test.ts
  tests/convex/archive.test.ts
  tests/convex/favorites.test.ts
  tests/convex/fillStaleHumanTurns.test.ts
  tests/convex/game-convex-test-example.test.ts
  tests/convex/game.test.ts
  tests/convex/http.test.ts
  tests/convex/lib/auth.test.ts
  tests/convex/lib/sessionLifecycle.test.ts
  tests/convex/migrations.test.ts
  tests/convex/poems.test.ts
  tests/convex/presence.test.ts
  tests/convex/rateLimit.test.ts
  tests/convex/roomLifecycle.test.ts
  tests/convex/rooms.test.ts
  tests/convex/shares.test.ts
  tests/convex/users.test.ts
  tests/helpers/convexSeed.ts
  tests/helpers/mockConvexDb.ts
Due: lint, format

feat(game): migrate host to a present participant when the host leaves (017)
  CLAUDE.md
  backlog.d/_done/017-host-migration.md
  convex/lib/gameRules.ts
  convex/lib/room.ts
  convex/presence.ts
  tests/convex/hostMigration.test.ts
Due: lint, format

feat(game): migrate host to a present participant when the host leaves (017) (#274)
  CLAUDE.md
  backlog.d/_done/017-host-migration.md
  convex/lib/gameRules.ts
  convex/lib/room.ts
  convex/presence.ts
  tests/convex/hostMigration.test.ts
Due: lint, format

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  2ca7b4136bc4596860117d25bcca3818b7ec7f24
Due: none

chore(release): adopt Landmark
  .github/workflows/release.yml
  .landfall.yml
Due: none

chore(release): fix Landmark adoption per review (manifest name, SHA pin, cleanup)
  .github/workflows/release.yml
  .landmark.yml
  scripts/synthesize-release-notes.mjs
Due: none

chore(release): adopt Landmark (#263)
  .github/workflows/release.yml
  .landmark.yml
  scripts/synthesize-release-notes.mjs
Due: none

feat(game): consolidate to one core mode; delete rhyme + quick
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/WritingScreen.tsx
  convex/abandonment.ts
  convex/ai.ts
  convex/game.ts
  convex/lib/gameRules.ts
  convex/lib/sessionLifecycle.ts
  convex/rooms.ts
  convex/schema.ts
  tests/components/Lobby.test.tsx
  tests/components/PoemDisplay.test.tsx
  tests/convex/game.test.ts
  tests/convex/gameRules.test.ts
  tests/convex/hostMigration.test.ts
  tests/convex/lib/sessionLifecycle.test.ts
  tests/convex/rooms.test.ts
Due: lint, format

test(convex): drop stale selectGameMode mention from rooms.test header
  tests/convex/rooms.test.ts
Due: lint, format

refactor(game): delete orphaned getLastWord (rhyme-only helper)
  convex/lib/wordCount.ts
  tests/convex/wordCount.test.ts
Due: lint, format

test(convex): convert seedInProgressGame mode param to rounds (review nit)
  tests/convex/game.test.ts
Due: lint, format

refactor(game): make the legacy-safety story honest (thermo-nuclear review)
  backlog.d/019-drop-legacy-mode-columns.md
  convex/lib/gameRules.ts
Due: lint, format

feat(game): consolidate to one core mode — delete rhyme + quick (#275)
  backlog.d/019-drop-legacy-mode-columns.md
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/WritingScreen.tsx
  convex/abandonment.ts
  convex/ai.ts
  convex/game.ts
  convex/lib/gameRules.ts
  convex/lib/sessionLifecycle.ts
  convex/lib/wordCount.ts
  convex/rooms.ts
  convex/schema.ts
  tests/components/Lobby.test.tsx
  tests/components/PoemDisplay.test.tsx
  tests/convex/game.test.ts
  tests/convex/gameRules.test.ts
  tests/convex/hostMigration.test.ts
  tests/convex/lib/sessionLifecycle.test.ts
  tests/convex/rooms.test.ts
  tests/convex/wordCount.test.ts
Due: lint, format

fix(release): drop pnpm exec step that broke Landmark release
  .prettierignore
  .releaserc.js
Due: lint, format

fix(release): drop pnpm exec step that broke Landmark release (#276)
  .prettierignore
  .releaserc.js
Due: lint, format

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  66550514b60d52bfe4075b0719bcf66a37530fe5
Due: none

chore(deps-dev): bump @commitlint/config-conventional from 20.5.0 to 21.0.2
  package.json
  pnpm-lock.yaml
Due: format

chore(deps-dev): bump @commitlint/config-conventional from 20.5.0 to 21.0.2 (#277)
  package.json
  pnpm-lock.yaml
Due: format

fix(ui): keep the writing action above the fold on mobile
  components/Footer.tsx
  components/WritingScreen.tsx
Due: lint, format

chore(qa): mobile-play design evidence assets [skip ci]
  qa-assets/mobile-tour.gif
  qa-assets/writing-before-after.png
  qa-assets/writing-toggle.gif
Due: none

fix(ui): grow the mobile writing textarea so long lines never clip
  components/Footer.tsx
  components/Header.tsx
  components/WritingScreen.tsx
  lib/routes.ts
Due: lint, format

refactor(ui): declutter the in-room writing surface
  components/RoomChrome.tsx
  components/WritingScreen.tsx
  lib/roomChromeCopy.ts
  lib/sparks.ts
  tests/components/RoomChrome.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/lib/roomChromeCopy.test.ts
  tests/lib/sparks.test.ts
Due: lint, format

refactor(ui): drop dead statusLabel prop and restore menu focus
  components/RoomChrome.tsx
  lib/roomChromeCopy.ts
  tests/components/RoomChrome.test.tsx
  tests/lib/roomChromeCopy.test.ts
  tests/lib/routes.test.ts
Due: lint, format

test(e2e): update guest-flow selectors for the decluttered room chrome
  tests/e2e/prod-smoke.spec.ts
  tests/e2e/support/guestFlow.ts
Due: lint, format

fix(ui): make the mobile writing surface playable and declutter room chrome (#278)
  components/Footer.tsx
  components/Header.tsx
  components/RoomChrome.tsx
  components/WritingScreen.tsx
  lib/roomChromeCopy.ts
  lib/routes.ts
  lib/sparks.ts
  tests/components/RoomChrome.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/e2e/prod-smoke.spec.ts
  tests/e2e/support/guestFlow.ts
  tests/lib/roomChromeCopy.test.ts
  tests/lib/routes.test.ts
  tests/lib/sparks.test.ts
Due: lint, format

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  7556c3c16c86d36ae8da49c2c05d10156d7c848f
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md,css}
