Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(foundation): prove exclusive prior-line visibility (MIS-150)
  foundation.json
  qa/walk-specs.mjs
Due: format

feat(foundation): adopt ratcheted story walks (MIS-150) (#517)
  .agents/skills/verify-linejam/SKILL.md
  .exe/setup.sh
  .github/workflows/ci.yml
  .github/workflows/foundation-review.yml
  .github/workflows/nightly.yml
  .gitignore
  AGENTS.md
  README.md
  docs/testing.md
  features/README.md
  features/guest-party.md
  features/keep-and-share.md
  features/poem.md
  foundation.json
  qa/walk
  qa/walk-specs.mjs
Due: format

docs(foundation): record merged walk evidence (MIS-150)
  foundation.json
Due: format

docs(foundation): record merged walk evidence (MIS-150) (#518)
  foundation.json
Due: format

docs(foundation): close postmortem baseline gap (MIS-150)
  docs/postmortems/README.md
  foundation.json
Due: format

docs(foundation): close postmortem baseline gap (MIS-150) (#519)
  docs/postmortems/README.md
  foundation.json
Due: format

chore(foundation): pin 1.4.0 checks (MIS-150)
  .github/workflows/ci.yml
  .github/workflows/foundation-review.yml
  .github/workflows/nightly.yml
  foundation.json
  foundation/extensions/linejam-foundation-1.4.0.json
Due: format

chore(release): prepare 0.27.1
  .landmark/release.json
  CHANGELOG.md
  content/releases/landmark.json
  content/releases/manifest.json
  content/releases/v0.27.1/changelog.json
  content/releases/v0.27.1/notes.md
  content/releases/v0.27.1/synthesis.json
  content/releases/v0.27.1/technical.md
  docs/releases/feed.xml
  package.json
  site/changelog.html
Due: format

fix(avatars): keep your character in the waiting moment while the roster loads
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  convex/game.ts
  convex/migrations.ts
  tests/components/WaitingScreen.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/convex/roomLifecycle.test.ts
Due: lint, format

test(avatars): cover the waiting-moment handoff from the assignment
  tests/components/WritingScreen.test.tsx
Due: lint, format

feat(avatars)!: contract stored avatar ids to the Pen Pals cast
  components/PoemDisplay.tsx
  components/SessionRecapHub.tsx
  components/WaitingScreen.tsx
  components/ui/Avatar.tsx
  convex/game.ts
  convex/lib/avatars.ts
  convex/migrations.ts
  convex/poems.ts
  convex/rooms.ts
  docs/convex-migrations.md
  lib/avatars.ts
  tests/components/Avatar.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/convex/game.test.ts
  tests/convex/migrations.test.ts
  tests/convex/poems.test.ts
  tests/convex/roomLifecycle.test.ts
  tests/convex/rooms.test.ts
  tests/lib/avatars.test.ts
Due: lint, format

feat(avatars)!: contract stored avatar ids to the Pen Pals cast (#523)
  components/PoemDisplay.tsx
  components/SessionRecapHub.tsx
  components/WaitingScreen.tsx
  components/ui/Avatar.tsx
  convex/game.ts
  convex/lib/avatars.ts
  convex/migrations.ts
  convex/poems.ts
  convex/rooms.ts
  docs/convex-migrations.md
  lib/avatars.ts
  tests/components/Avatar.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/convex/game.test.ts
  tests/convex/migrations.test.ts
  tests/convex/poems.test.ts
  tests/convex/roomLifecycle.test.ts
  tests/convex/rooms.test.ts
  tests/lib/avatars.test.ts
Due: lint, format

fix(avatars): outline a late joiner's own waiting character
  components/WaitingScreen.tsx
  tests/components/WaitingScreen.test.tsx
Due: lint, format

fix(avatars): outline a late joiner's own waiting character (#524)
  components/WaitingScreen.tsx
  tests/components/WaitingScreen.test.tsx
Due: lint, format

fix(ci): separate player health from Sentry bookkeeping (MIS-174)
  .github/workflows/prod-sentry-bookkeeping.yml
  .github/workflows/prod-smoke.yml
  docs/ops/observability-ci.md
  package.json
  pnpm-lock.yaml
  scripts/ops/count-consecutive-prod-smoke-failures.mjs
  tests/scripts/count-consecutive-prod-smoke-failures.test.ts
  tests/scripts/production-observability-workflows.test.ts
  tests/scripts/record-sentry-deploy.test.ts
Due: lint, format

fix(ci): bound recent smoke history and master dispatch (MIS-174)
  .github/workflows/prod-sentry-bookkeeping.yml
  scripts/ops/count-consecutive-prod-smoke-failures.mjs
  tests/scripts/production-observability-workflows.test.ts
Due: lint, format

fix(ci): isolate release-attribution failures from players (MIS-174)
  .github/workflows/prod-smoke.yml
  tests/scripts/production-observability-workflows.test.ts
Due: lint, format

fix(ci): separate player health from Sentry bookkeeping (MIS-174) (#531)
  .github/workflows/prod-sentry-bookkeeping.yml
  .github/workflows/prod-smoke.yml
  docs/ops/observability-ci.md
  package.json
  pnpm-lock.yaml
  scripts/ops/count-consecutive-prod-smoke-failures.mjs
  tests/scripts/count-consecutive-prod-smoke-failures.test.ts
  tests/scripts/production-observability-workflows.test.ts
  tests/scripts/record-sentry-deploy.test.ts
Due: lint, format

fix(auth): reset Convex verdict for new sign-ins (MIS-184)
  docs/postmortems/2026-09-28-convex-auth-handshake.md
  patches/convex@1.42.3.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/local/Dockerfile
  scripts/local/identity.mjs
  tests/lib/convex-auth.test.tsx
Due: lint, format

fix(auth): reset Convex verdict for new sign-ins (MIS-184) (#533)
  docs/postmortems/2026-09-28-convex-auth-handshake.md
  patches/convex@1.42.3.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/local/Dockerfile
  scripts/local/identity.mjs
  tests/lib/convex-auth.test.tsx
Due: lint, format

fix(auth): complete empty guest migrations (MIS-185)
  convex/migrations.ts
  docs/postmortems/2026-09-28-empty-guest-migration.md
  docs/testing.md
  tests/convex/migrations.test.ts
Due: lint, format

fix(auth): complete empty guest migrations (MIS-185) (#534)
  convex/migrations.ts
  docs/postmortems/2026-09-28-empty-guest-migration.md
  docs/testing.md
  tests/convex/migrations.test.ts
Due: lint, format

fix(release): prepare technical-only candidate on provider failure (MIS-183)
  .env.pass
  .github/workflows/release.yml
  USER_STORIES.md
  app/releases/page.tsx
  docs/deployment.md
  docs/postmortems/2026-09-28-release-provider-coupling.md
  docs/testing.md
  features/README.md
  features/release-administration.md
  lib/releases/feed.ts
  lib/releases/loader.ts
  lib/releases/types.ts
  qa/release-walk-fixture.mjs
  qa/walk-specs.mjs
  scripts/releases/prepare.ts
  scripts/releases/semantic-release.mjs
  scripts/releases/site-changelog.ts
  site/changelog.html
  tests/lib/releases/catalog.test.ts
  tests/scripts/release-prepare.test.ts
  tests/scripts/site-changelog.test.ts
Due: lint, format

docs(release): link hosted acceptance in incident record (MIS-183)
  docs/postmortems/2026-09-28-release-provider-coupling.md
Due: format

docs(release): clarify failed local preparation cleanup (MIS-183)
  docs/deployment.md
Due: format

docs(release): track ready review without stale status (MIS-183)
  docs/postmortems/2026-09-28-release-provider-coupling.md
Due: format

fix(ci): constrain Sentry bookkeeping to smoke completion (MIS-174)
  .github/workflows/prod-sentry-bookkeeping.yml
  docs/ops/observability-ci.md
  docs/postmortems/2026-09-27-production-smoke-sentry-coupling.md
  tests/scripts/production-observability-workflows.test.ts
Due: lint, format

fix(ci): constrain Sentry bookkeeping to smoke completion (MIS-174) (#536)
  .github/workflows/prod-sentry-bookkeeping.yml
  docs/ops/observability-ci.md
  docs/postmortems/2026-09-27-production-smoke-sentry-coupling.md
  tests/scripts/production-observability-workflows.test.ts
Due: lint, format

fix(release): prepare technical-only candidate on provider failure (MIS-183) (#535)
  .env.pass
  .github/workflows/release.yml
  USER_STORIES.md
  app/releases/page.tsx
  docs/deployment.md
  docs/postmortems/2026-09-28-release-provider-coupling.md
  docs/testing.md
  features/README.md
  features/release-administration.md
  lib/releases/feed.ts
  lib/releases/loader.ts
  lib/releases/types.ts
  qa/release-walk-fixture.mjs
  qa/walk-specs.mjs
  scripts/releases/prepare.ts
  scripts/releases/semantic-release.mjs
  scripts/releases/site-changelog.ts
  site/changelog.html
  tests/lib/releases/catalog.test.ts
  tests/scripts/release-prepare.test.ts
  tests/scripts/site-changelog.test.ts
Due: lint, format

fix(ci): warn on optional Sentry delivery failures (MIS-174)
  .github/workflows/prod-sentry-bookkeeping.yml
  .github/workflows/prod-smoke.yml
  docs/ops/observability-ci.md
  docs/postmortems/2026-09-27-production-smoke-sentry-coupling.md
  tests/scripts/production-observability-workflows.test.ts
Due: lint, format

test(ci): cover reporting delivery warnings (MIS-174)
  tests/scripts/production-observability-workflows.test.ts
Due: lint, format

fix(ci): warn on optional Sentry delivery failures (MIS-174) (#537)
  .github/workflows/prod-sentry-bookkeeping.yml
  .github/workflows/prod-smoke.yml
  docs/ops/observability-ci.md
  docs/postmortems/2026-09-27-production-smoke-sentry-coupling.md
  tests/scripts/production-observability-workflows.test.ts
Due: lint, format

fix(deps): unblock security updates with conditional version floors
  .agents/skills/play-linejam/coordinator.md
  .agents/skills/play-linejam/player.md
  SECURITY.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/qa/check-play-linejam-skill.mjs
  scripts/qa/play-scheduled.prompt.md
Due: format

feat: initial rooms
  CHANGELOG.md
  package.json
Due: format

fix: reconnect
  source.txt
Due: none

fix(deps): preserve compatible release families in security floors
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(deps): scope security floors to vulnerable major families
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md,css}
