Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ⚠️  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm vitest run

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(auth): graceful degradation when Clerk is not configured
  app/(auth)/sign-in/[[...sign-in]]/page.tsx
  app/(auth)/sign-up/[[...sign-up]]/page.tsx
  middleware.ts
Due: lint, format

test(e2e): skip archive tests when Clerk not configured
  tests/e2e/favorites.spec.ts
Due: lint, format

feat(auth): dedicated auth pages with guest migration (#119)
  CLAUDE.md
  app/(auth)/callback/page.tsx
  app/(auth)/layout.tsx
  app/(auth)/sign-in/[[...sign-in]]/page.tsx
  app/(auth)/sign-up/[[...sign-up]]/page.tsx
  app/me/profile/page.tsx
  components/Header.tsx
  components/auth/AuthShowcase.tsx
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/archive.ts
  convex/migrations.ts
  convex/schema.ts
  lefthook.yml
  lib/guestSession.ts
  middleware.ts
  tests/convex/archive.test.ts
  tests/convex/migrations.test.ts
  tests/e2e/favorites.spec.ts
  tests/helpers/mockConvexDb.ts
  tests/lib/guestSession.test.ts
Due: lint, format

fix: require auth for getRoom query
  convex/rooms.ts
  tests/convex/rooms.test.ts
Due: lint, format

fix: lock down getRoomState access
  ARCHITECTURE.md
  convex/rooms.ts
  tests/convex/rooms.test.ts
Due: lint, format

fix: require auth for getRoom query (#121)
  ARCHITECTURE.md
  convex/rooms.ts
  tests/convex/rooms.test.ts
Due: lint, format

test: fix act warnings in WritingScreen tests
  tests/components/WritingScreen.test.tsx
Due: lint, format

test: stabilize WritingScreen timers
  tests/components/WritingScreen.test.tsx
Due: lint, format

refactor: centralize game word counts
  convex/ai.ts
  convex/game.ts
  convex/lib/gameRules.ts
  docs/ARCHITECTURE.md
Due: lint, format

Fix WritingScreen act warnings (#122)
  convex/ai.ts
  convex/game.ts
  convex/lib/gameRules.ts
  docs/ARCHITECTURE.md
  tests/components/WritingScreen.test.tsx
Due: lint, format

refactor: dedupe room query auth gating
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  hooks/useRoomQueryArgs.ts
Due: lint, format

refactor: dedupe room query auth gating (#124)
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  hooks/useRoomQueryArgs.ts
Due: lint, format

docs: clarify schema field meaning
  convex/schema.ts
Due: lint, format

docs: clarify schema field meaning (#125)
  convex/schema.ts
Due: lint, format

feat(observability): add structured JSON logger for Next.js
  lib/logger.ts
Due: lint, format

feat(observability): add Convex structured error logging
  convex/lib/errors.ts
Due: lint, format

refactor(convex): migrate to structured logging
  convex/ai.ts
  convex/lib/ai/providers/openrouter.ts
  convex/lib/auth.ts
  convex/lib/guestToken.ts
Due: lint, format

feat(observability): add Sentry CLI scripts for AI triage
  scripts/sentry/issue-detail.sh
  scripts/sentry/list-issues.sh
  scripts/sentry/resolve-issue.sh
  scripts/sentry/triage-score.sh
  scripts/setup-sentry.sh
Due: none

docs: add observability section to CLAUDE.md
  CLAUDE.md
Due: format

test: update auth tests for structured logging format
  tests/convex/lib/auth.test.ts
Due: lint, format

refactor: simplify loggers and unify interfaces
  convex/lib/errors.ts
  lib/logger.ts
Due: lint, format

chore: ignore local env files
  .gitignore
Due: none

feat: add observability infrastructure (#126)
  .gitignore
  CLAUDE.md
  convex/ai.ts
  convex/lib/ai/providers/openrouter.ts
  convex/lib/auth.ts
  convex/lib/errors.ts
  convex/lib/guestToken.ts
  lib/logger.ts
  scripts/sentry/issue-detail.sh
  scripts/sentry/list-issues.sh
  scripts/sentry/resolve-issue.sh
  scripts/sentry/triage-score.sh
  scripts/setup-sentry.sh
  tests/convex/lib/auth.test.ts
Due: lint, format

feat: add changelog infrastructure with semantic-release
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  .releaserc.js
  app/changelog.xml/route.ts
  app/changelog/page.tsx
  package.json
  pnpm-lock.yaml
  scripts/synthesize-release-notes.mjs
Due: lint, format

fix: address PR review feedback
  .github/workflows/release.yml
  .releaserc.js
  app/changelog.xml/route.ts
  app/changelog/page.tsx
  package.json
  pnpm-lock.yaml
  scripts/synthesize-release-notes.mjs
Due: lint, format

fix: update node engine constraint to >=22.0.0
  package.json
Due: format

feat(footer): add version display with changelog link
  components/Footer.tsx
Due: lint, format

refactor(releases): rename changelog to releases with correct repo URL
  app/releases.xml/route.ts
  app/releases/page.tsx
  components/Footer.tsx
  lib/config.ts
Due: lint, format

feat(releases): implement static file-based releases infrastructure
  CHANGELOG.md
  app/releases.xml/route.ts
  app/releases/page.tsx
  content/releases/manifest.json
  content/releases/v0.1.0/changelog.json
  content/releases/v0.1.0/notes.md
  lib/releases/index.ts
  lib/releases/loader.ts
  lib/releases/parser.ts
  lib/releases/types.ts
  package.json
  scripts/generate-releases.ts
Due: lint, format

feat(releases): implement Zen Timeline design with theme compatibility
  app/releases/page.tsx
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
Due: lint, format

fix(releases): improve spacing and visual hierarchy
  app/releases/page.tsx
Due: lint, format

feat: add changelog infrastructure with semantic-release (#127)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  .releaserc.js
  CHANGELOG.md
  app/releases.xml/route.ts
  app/releases/page.tsx
  components/Footer.tsx
  content/releases/manifest.json
  content/releases/v0.1.0/changelog.json
  content/releases/v0.1.0/notes.md
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
  lib/config.ts
  lib/releases/index.ts
  lib/releases/loader.ts
  lib/releases/parser.ts
  lib/releases/types.ts
  package.json
  pnpm-lock.yaml
  scripts/generate-releases.ts
  scripts/synthesize-release-notes.mjs
Due: lint, format

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  5c4c5ed96a70e8e8ff46892f7738a13e834ecbc2
Due: none

chore: add vision doc
  vision.md
Due: format

ci: integrate Cerberus AI code review council v1
  .github/workflows/cerberus.yml
Due: none

fix(ci): use GH_RELEASE_TOKEN for semantic-release bypass
  .github/workflows/release.yml
Due: none

fix(ci): use GH_RELEASE_TOKEN for semantic-release
  .github/workflows/release.yml
Due: none

fix: resolve CI quality gate failures
  TASK_COMPLETE
  eslint.config.mjs
  tests/convex/archive.test.ts
Due: lint, format

ci: integrate Cerberus AI code review council (#137)
  .github/workflows/cerberus.yml
  TASK_COMPLETE
  eslint.config.mjs
  tests/convex/archive.test.ts
Due: lint, format
