Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ⚠️  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm vitest run

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(test): restore source after inherited fixture Git context
  CHANGELOG.md
  package.json
  source.txt
Due: format

fix(qa): reject malformed exact dependency releases
  scripts/qa/check-play-linejam-skill.mjs
Due: none

fix(deps): unblock security updates and patch vulnerable dependencies
  .agents/skills/play-linejam/coordinator.md
  .agents/skills/play-linejam/player.md
  SECURITY.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/qa/check-play-linejam-skill.mjs
  scripts/qa/play-scheduled.prompt.md
Due: format

ci: run selector smoke only in the browser mirror
  .github/workflows/ci.yml
  docs/deployment.md
  docs/ops/observability-ci.md
  docs/testing.md
Due: format

style: format the selector smoke guidance
  docs/testing.md
Due: format

ci: run selector smoke only in the browser mirror (#539)
  .github/workflows/ci.yml
  docs/deployment.md
  docs/ops/observability-ci.md
  docs/testing.md
Due: format

chore(release): prepare 0.28.0
  .landmark/release.json
  CHANGELOG.md
  content/releases/landmark.json
  content/releases/manifest.json
  content/releases/v0.28.0/changelog.json
  content/releases/v0.28.0/notes.md
  content/releases/v0.28.0/synthesis.json
  content/releases/v0.28.0/technical.md
  docs/releases/feed.xml
  package.json
  site/changelog.html
Due: format

docs: state that parlor is vendored
  README.md
Due: format

fix(observability): require status on sanitized spans
  lib/sentryPrivacy.ts
  tests/lib/sentryPrivacy.test.ts
Due: lint, format

ci: enforce Convex patch pin
  scripts/check-provider-retirement.mjs
  scripts/qa/check-convex-patch-pin.mjs
  tests/scripts/check-convex-patch-pin.test.ts
Due: lint, format

test: type Convex patch fixtures
  tests/scripts/check-convex-patch-pin.test.ts
Due: lint, format

style: format Convex patch check
  scripts/qa/check-convex-patch-pin.mjs
  tests/scripts/check-convex-patch-pin.test.ts
Due: lint, format
