Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ⚠️  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm vitest run

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(design): align Tailwind contract with selected identity
  tests/lib/design/tailwind-contract.test.ts
Due: lint, format

fix(e2e): match join submit copy
  tests/e2e/errors.spec.ts
Due: lint, format

fix: complete release gates and patch security dependencies
  .github/workflows/ci.yml
  docs/deployment.md
  package.json
  pnpm-lock.yaml
Due: format

fix(qa): resolve validator pin from runtime dependencies
  scripts/qa/check-play-linejam-skill.mjs
Due: none

test(e2e): follow confirmed room closure before rejecting joins
  docs/deployment.md
  tests/e2e/errors.spec.ts
Due: lint, format

fix(qa): bound rollout failure diagnostics
  scripts/qa/deployment-skew-oracle.mjs
Due: none

fix(qa): bound rollout failure diagnostics (#495)
  scripts/qa/deployment-skew-oracle.mjs
Due: none

docs(qa): connect gameplay verification to local runtime
  .agents/skills/play-linejam/SKILL.md
  .agents/skills/play-linejam/coordinator.md
  AGENTS.md
  docs/testing.md
Due: format

docs(qa): connect gameplay verification to local runtime (#497)
  .agents/skills/play-linejam/SKILL.md
  .agents/skills/play-linejam/coordinator.md
  AGENTS.md
  docs/testing.md
Due: format

fix(ops): preserve existing external domain alias (MIS-52)
  config/digitalocean-apps.json
  scripts/ops/check-digitalocean-app-drift.mjs
  tests/scripts/digitalocean-app-drift.test.ts
Due: lint, format

fix(qa): preserve mobile controls and close owned auth rooms (MIS-52)
  components/RoomChrome.tsx
  components/SoundControl.tsx
  docs/testing.md
  tests/e2e/agentic-qa.spec.ts
  tests/e2e/prod-smoke.spec.ts
  tests/e2e/reveal-share.spec.ts
  tests/e2e/room-auth.spec.ts
  tests/e2e/support/guestFlow.ts
Due: lint, format

fix(game): preserve renewal drafts and sparse poem previews (MIS-52)
  components/WritingScreen.tsx
  convex/poems.ts
  docs/ARCHITECTURE.md
  docs/testing.md
  hooks/useRoomQueryArgs.ts
  lib/auth.ts
  lib/writingDraft.ts
  tests/components/WaitingScreen.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/convex/poems.test.ts
  tests/e2e/guest-session-renewal.spec.ts
  tests/lib/auth.test.ts
Due: lint, format

fix(observability): tolerate dropped GitHub cron slots in smoke monitor (#474)
  config/sentry-observability.json
  docs/ops/observability-ci.md
  scripts/ops/report-sentry-check-in.mjs
  tests/scripts/report-sentry-check-in.test.ts
Due: lint, format

docs: add root USER_STORIES.md
  USER_STORIES.md
Due: format

style: apply prettier formatting to USER_STORIES.md
  USER_STORIES.md
Due: format

fix(deps): bump adm-zip override to 0.6.1 for GHSA-7q85-xj36-vmfc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs: add USER_STORIES.md (#507)
  USER_STORIES.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix(deps): skip promptfoo's codex-security optional dep to clear OSV gate
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(deps): hold convex-test at 0.0.54 for convex 1.42.3 compatibility
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  vendor/parlor/integrations/convex/package.json
Due: format

fix(deps): adapt the vitest 5 bump to jest-dom types and coverage-v8
  package.json
  pnpm-lock.yaml
  tests/jest-dom-vitest5.d.ts
Due: lint, format

chore(deps-dev): hold @vitest/coverage-v8 major until the vitest 5 cascade
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Due: format

feat(infra): add Cloudflare Workers OpenNext deployment target
  .gitignore
  docs/ops/cloudflare-worker.md
  eslint.config.mjs
  open-next.config.ts
  package.json
  pnpm-lock.yaml
  wrangler.jsonc
Due: lint, format

docs(infra): pin staging deployment id and correct Worker sentry var name
  docs/ops/cloudflare-worker.md
Due: format

feat(infra): add Cloudflare Workers OpenNext deployment target (MIS cutover t_a4c8cfca) (#511)
  .gitignore
  docs/ops/cloudflare-worker.md
  eslint.config.mjs
  open-next.config.ts
  package.json
  pnpm-lock.yaml
  wrangler.jsonc
Due: lint, format

fix(auth): reuse room page guest session
  app/room/[code]/RoomPage.tsx
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  hooks/useRoomQueryArgs.ts
  lib/roomQueryArgs.ts
  tests/app/room-page.test.tsx
  tests/components/Lobby.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/WaitingScreen.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/lib/auth.test.ts
Due: lint, format

fix(ux): surface post-reveal next actions near chrome
  app/room/[code]/RoomPage.tsx
  components/RevealPhase.tsx
  components/RoomChrome.tsx
  components/SessionRecapHub.tsx
  components/ui/StickyActionBar.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/RoomChrome.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/components/StickyActionBar.test.tsx
Due: lint, format

docs(stories): extend US-002 with the post-reveal action placement criterion
  USER_STORIES.md
Due: format

test(e2e): assert post-reveal next actions sit above the recap
  tests/e2e/reveal-reader-leaver.spec.ts
  tests/e2e/support/guestFlow.ts
Due: lint, format

fix(ux): keep post-reveal action labels readable on phones
  components/RevealPhase.tsx
  tests/e2e/reveal-reader-leaver.spec.ts
Due: lint, format

docs(auth): record Clerk owner checks and pass reference
  .env.pass
  docs/deployment.md
Due: format

docs(auth): record Clerk owner checks and pass reference (#516)
  .env.pass
  docs/deployment.md
Due: format

feat(foundation): adopt ratcheted story walks (MIS-150)
  .agents/skills/verify-linejam/SKILL.md
  .exe/setup.sh
  .github/workflows/ci.yml
  .github/workflows/foundation-review.yml
  .github/workflows/nightly.yml
  .gitignore
  AGENTS.md
  README.md
  docs/testing.md
  features/README.md
  features/guest-party.md
  features/keep-and-share.md
  features/poem.md
  foundation.json
  qa/walk
  qa/walk-specs.mjs
Due: format
