Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ⚠️  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm vitest run

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(mobile): constrain scaled lobby grid
  components/Lobby.tsx
  tests/components/Lobby.test.tsx
  tests/e2e/game-mobile-viewport.spec.ts
Due: lint, format

fix(mobile): contain scaled room controls
  components/Lobby.tsx
  components/ThemeModeControl.tsx
  components/ThemePreview.tsx
  components/ThemeSelector.tsx
  tests/components/Lobby.test.tsx
  tests/components/ThemeSelector.test.tsx
Due: lint, format

fix(mobile): contain scaled writing composer
  components/WritingScreen.tsx
  tests/components/WritingScreen.test.tsx
Due: lint, format

fix(mobile): preserve compact submit tray
  components/WritingScreen.tsx
  tests/components/WritingScreen.test.tsx
Due: lint, format

fix(mobile): contain scaled game controls
  components/RoomChrome.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  tests/components/RoomChrome.test.tsx
  tests/components/WaitingScreen.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/e2e/game-mobile-viewport.spec.ts
Due: lint, format

fix(a11y): wrap room instructions
  components/RoomChrome.tsx
  tests/components/Lobby.test.tsx
  tests/components/RoomChrome.test.tsx
Due: lint, format

fix(game): restore submitted waiting state
  components/WritingScreen.tsx
  convex/game.ts
  tests/components/WritingScreen.test.tsx
  tests/convex/game.test.ts
  tests/e2e/lobby-viewport-matrix.spec.ts
Due: lint, format

fix(mobile): own the visual game viewport (#356)
  app/globals.css
  app/host/page.tsx
  app/layout.tsx
  app/providers.tsx
  app/room/[code]/page.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/RoomChrome.tsx
  components/ThemeModeControl.tsx
  components/ThemePreview.tsx
  components/ThemeSelector.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  components/stage/LobbyStage.tsx
  components/stage/RevealStage.tsx
  components/stage/StageShell.tsx
  components/ui/Input.tsx
  convex/game.ts
  hooks/useVisualViewport.ts
  lib/e2eTestIds.ts
  lib/routes.ts
  tests/app/room-page.test.tsx
  tests/components/Input.test.tsx
  tests/components/Lobby.test.tsx
  tests/components/LobbyStage.test.tsx
  tests/components/PoemDisplay.test.tsx
  tests/components/RoomChrome.test.tsx
  tests/components/ThemeSelector.test.tsx
  tests/components/WaitingScreen.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/convex/game.test.ts
  tests/e2e/game-mobile-viewport.spec.ts
  tests/e2e/lobby-viewport-matrix.spec.ts
  tests/hooks/useVisualViewport.test.ts
  tests/lib/e2eTestIds.test.ts
  tests/lib/gameViewportCss.test.ts
  tests/lib/routes.test.ts
Due: lint, format

chore(release): 0.19.4 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  f4e839889c7ddefcb00d6bd35f2c7a0f68312058
Due: none

feat(ci): enforce safe schema migration sequencing
  .github/workflows/ci.yml
  AGENTS.md
  docs/convex-migrations.md
  scripts/ci/check-schema-migration-sequencing.mjs
  tests/scripts/check-schema-migration-sequencing.test.ts
Due: lint, format

fix(ci): detect wrapped migration exports
  scripts/ci/check-schema-migration-sequencing.mjs
  tests/scripts/check-schema-migration-sequencing.test.ts
Due: lint, format

fix(ci): harden migration guard inputs
  .github/workflows/ci.yml
  docs/convex-migrations.md
  scripts/ci/check-schema-migration-sequencing.mjs
  tests/scripts/check-schema-migration-sequencing.test.ts
Due: lint, format

feat(ci): enforce safe schema migration sequencing (#357)
  .github/workflows/ci.yml
  AGENTS.md
  docs/convex-migrations.md
  scripts/ci/check-schema-migration-sequencing.mjs
  tests/scripts/check-schema-migration-sequencing.test.ts
Due: lint, format

chore(release): 0.20.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  add83a2269b045c81b44d8cc810bdede31cc5e1a
Due: none

feat(obs): alert on AI fallback rate
  config/convex-env-manifest.json
  convex/ai.ts
  convex/errors.ts
  convex/lib/ai/fallbackMetrics.ts
  convex/lib/ai/providers/openrouter.ts
  convex/lib/ai/providers/types.ts
  convex/lib/canary.ts
  convex/schema.ts
  docs/ops/canary-responder.md
  tests/convex/aiLifecycle.test.ts
  tests/convex/lib/canary.test.ts
  tests/convex/lib/fallbackMetrics.test.ts
  tests/lib/ai/llm.test.ts
Due: lint, format

test(obs): stabilize fallback classification
  tests/convex/aiLifecycle.test.ts
  tests/convex/ghostGenerationBudget.test.ts
Due: lint, format

feat(obs): alert on AI fallback rate (#358)
  config/convex-env-manifest.json
  convex/ai.ts
  convex/errors.ts
  convex/lib/ai/fallbackMetrics.ts
  convex/lib/ai/providers/openrouter.ts
  convex/lib/ai/providers/types.ts
  convex/lib/canary.ts
  convex/schema.ts
  docs/ops/canary-responder.md
  tests/convex/aiLifecycle.test.ts
  tests/convex/ghostGenerationBudget.test.ts
  tests/convex/lib/canary.test.ts
  tests/convex/lib/fallbackMetrics.test.ts
  tests/lib/ai/llm.test.ts
Due: lint, format

chore(release): 0.21.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  7416413e9453ac32c5bc6a51e3c0099ec45858a0
Due: none

feat(retention): enforce bounded data lifecycle
  AGENTS.md
  config/convex-env-manifest.json
  convex/_generated/api.d.ts
  convex/abandonment.ts
  convex/ai.ts
  convex/crons.ts
  convex/favorites.ts
  convex/game.ts
  convex/lib/retentionPolicy.ts
  convex/lib/sessionLifecycle.ts
  convex/retention.ts
  convex/rooms.ts
  convex/schema.ts
  convex/shares.ts
  convex/users.ts
  docs/ops/data-retention.md
  tests/convex/abandonment.test.ts
  tests/convex/favorites.test.ts
  tests/convex/lib/retentionPolicy.test.ts
  tests/convex/lib/sessionLifecycle.test.ts
  tests/convex/retention.test.ts
  tests/convex/shares.test.ts
Due: lint, format

test(retention): close branch-coverage gap for 85% threshold
  tests/convex/retention.test.ts
Due: lint, format

feat(retention): enforce bounded data lifecycle (#359)
  AGENTS.md
  config/convex-env-manifest.json
  convex/_generated/api.d.ts
  convex/abandonment.ts
  convex/ai.ts
  convex/crons.ts
  convex/favorites.ts
  convex/game.ts
  convex/lib/retentionPolicy.ts
  convex/lib/sessionLifecycle.ts
  convex/retention.ts
  convex/rooms.ts
  convex/schema.ts
  convex/shares.ts
  convex/users.ts
  docs/ops/data-retention.md
  tests/convex/abandonment.test.ts
  tests/convex/favorites.test.ts
  tests/convex/lib/retentionPolicy.test.ts
  tests/convex/lib/sessionLifecycle.test.ts
  tests/convex/retention.test.ts
  tests/convex/shares.test.ts
Due: lint, format

chore(release): 0.22.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  f4b45e1b326657c96f5927e0cd47387ac24b78e2
Due: none

test(canary): isolate responder tests from ambient env
  tests/scripts/canary-context.test.ts
  tests/scripts/canary-responder-http.test.ts
  tests/scripts/canary-responder.test.ts
  tests/scripts/canary-setup-webhook.test.ts
  tests/scripts/canary-smoke-auth.test.ts
  tests/scripts/canary-store.test.ts
  tests/scripts/canary-test-env.ts
  tests/scripts/canary-trigger-smoke.test.ts
Due: lint, format

feat(ai): add provider kill switch and spend guard
  config/convex-env-manifest.json
  convex/ai.ts
  convex/lib/ai/budget.ts
  docs/ops/ai-budget.md
  scripts/generate-releases.ts
  tests/convex/ghostGenerationBudget.test.ts
Due: lint, format

fix(privacy): scrub durable author ids from poem payloads
  app/poem/[id]/PoemDetail.tsx
  components/archive/PoemCard.tsx
  convex/archive.ts
  convex/lib/poemAuthorKey.ts
  convex/poems.ts
  tests/app/poem-detail.test.tsx
  tests/components/archive/PoemCard.test.tsx
  tests/convex/archive.test.ts
  tests/convex/poems.test.ts
Due: lint, format

test(canary): isolate responder tests from ambient env (#361)
  tests/scripts/canary-context.test.ts
  tests/scripts/canary-responder-http.test.ts
  tests/scripts/canary-responder.test.ts
  tests/scripts/canary-setup-webhook.test.ts
  tests/scripts/canary-smoke-auth.test.ts
  tests/scripts/canary-store.test.ts
  tests/scripts/canary-test-env.ts
  tests/scripts/canary-trigger-smoke.test.ts
Due: lint, format

test: drain Convex fake timers deterministically
  tests/convex/aiLifecycle.test.ts
  tests/convex/ghostGenerationBudget.test.ts
Due: lint, format

feat(ai): add provider kill switch and spend guard (#362)
  config/convex-env-manifest.json
  convex/ai.ts
  convex/lib/ai/budget.ts
  docs/ops/ai-budget.md
  scripts/generate-releases.ts
  tests/convex/ghostGenerationBudget.test.ts
Due: lint, format

chore(release): 0.23.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  270a62e66aaaf1e9eb5cb0b96a50b1f32f2d8fc2
Due: none

fix(privacy): scrub durable author ids from poem payloads (#363)
  app/poem/[id]/PoemDetail.tsx
  components/archive/PoemCard.tsx
  convex/archive.ts
  convex/lib/poemAuthorKey.ts
  convex/poems.ts
  tests/app/poem-detail.test.tsx
  tests/components/archive/PoemCard.test.tsx
  tests/convex/archive.test.ts
  tests/convex/poems.test.ts
Due: lint, format

chore(release): 0.23.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  eaee0f41475b4a9020f7209e4aacfe928b759a65
Due: none

test: drain Convex fake timers deterministically (#364)
  tests/convex/aiLifecycle.test.ts
  tests/convex/ghostGenerationBudget.test.ts
Due: lint, format

fix(onboarding): repair doctor dotenv parsing
  scripts/doctor.mjs
  tests/scripts/doctor.test.ts
Due: lint, format

feat(onboarding): add verified-live doctor
  README.md
  package.json
  scripts/doctor.mjs
  scripts/setup.sh
  tests/scripts/doctor.test.ts
Due: lint, format
