Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ⚠️  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm vitest run

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(e2e): scope spoofed x-forwarded-for to the guest-session route
  tests/e2e/errors.spec.ts
Due: lint, format

fix(e2e): isolate per-context guest-session IPs suite-wide
  tests/e2e/errors.spec.ts
  tests/e2e/room-auth.spec.ts
  tests/e2e/room-chrome-layout.spec.ts
  tests/e2e/support/guestFlow.ts
Due: lint, format

fix(errors): ConvexError taxonomy so friendly messages survive production (#303)
  app/host/page.tsx
  app/join/page.tsx
  convex/README.md
  convex/ai.ts
  convex/favorites.ts
  convex/game.ts
  convex/lib/assignPoemReaders.ts
  convex/lib/auth.ts
  convex/lib/room.ts
  convex/rooms.ts
  convex/users.ts
  eslint.config.mjs
  lib/e2eTestIds.ts
  lib/errorFeedback.ts
  tests/convex/rooms.test.ts
  tests/e2e/errors.spec.ts
  tests/e2e/room-auth.spec.ts
  tests/e2e/room-chrome-layout.spec.ts
  tests/e2e/support/guestFlow.ts
  tests/lib/e2eTestIds.test.ts
  tests/lib/errorFeedback.test.ts
Due: lint, format

chore(deps): bump convex 1.31.7 -> 1.42.1
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump convex 1.31.7 -> 1.42.1 (#304)
  package.json
  pnpm-lock.yaml
Due: format

docs(readme): front-door overhaul — license truth, play link, agent faces
  README.md
  docs/ops/observability-ci.md
Due: format

docs(readme): front-door overhaul — license truth, play link, agent faces (#305)
  README.md
  docs/ops/observability-ci.md
Due: format

fix(ui): fix lobby roster collision and sticky-chrome heading overlap
  components/Lobby.tsx
  components/SessionRecapHub.tsx
  tests/components/Lobby.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/e2e/lobby-viewport-matrix.spec.ts
Due: lint, format

fix(e2e): wait for lobby roster to render before the viewport sweep
  tests/e2e/lobby-viewport-matrix.spec.ts
Due: lint, format

perf(e2e): trim the lobby viewport matrix to fit CI's test timeout
  tests/e2e/lobby-viewport-matrix.spec.ts
Due: lint, format

fix(e2e): drop AI bots from the lobby viewport matrix, use real guests only
  tests/e2e/lobby-viewport-matrix.spec.ts
Due: lint, format

fix(ui): lobby roster collision and sticky-chrome heading overlap (#306)
  components/Lobby.tsx
  components/SessionRecapHub.tsx
  tests/components/Lobby.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/e2e/lobby-viewport-matrix.spec.ts
Due: lint, format

fix(identity): guest archive access + themed Clerk auth (linejam-942)
  app/(auth)/sign-in/[[...sign-in]]/page.tsx
  app/(auth)/sign-up/[[...sign-up]]/page.tsx
  app/me/poems/page.tsx
  app/providers.tsx
  components/archive/ArchiveInfoStrip.tsx
  components/archive/index.ts
  explorations/guest-archive-identity-lab/DECISION.md
  explorations/guest-archive-identity-lab/index.html
  lib/clerk/appearance.ts
  middleware.ts
  tests/components/archive/ArchiveInfoStrip.test.tsx
  tests/e2e/guest-archive-access.spec.ts
  tests/lib/clerk/appearance.test.ts
  tests/middleware.test.ts
Due: lint, format

test(coverage): close branch gaps introduced by the Clerk theming fix
  lib/clerk/appearance.ts
  tests/lib/clerk/appearance.test.ts
  tests/middleware.test.ts
Due: lint, format

fix(e2e): use exact heading matches in the guest-archive-access spec
  tests/e2e/guest-archive-access.spec.ts
Due: lint, format

fix(identity): guest archive access + themed Clerk auth (#307)
  app/(auth)/sign-in/[[...sign-in]]/page.tsx
  app/(auth)/sign-up/[[...sign-up]]/page.tsx
  app/me/poems/page.tsx
  app/providers.tsx
  components/archive/ArchiveInfoStrip.tsx
  components/archive/index.ts
  explorations/guest-archive-identity-lab/DECISION.md
  explorations/guest-archive-identity-lab/index.html
  lib/clerk/appearance.ts
  middleware.ts
  tests/components/archive/ArchiveInfoStrip.test.tsx
  tests/e2e/guest-archive-access.spec.ts
  tests/lib/clerk/appearance.test.ts
  tests/middleware.test.ts
Due: lint, format

feat(artifact): add poem image and print exports
  app/globals.css
  app/poem/[id]/card/route.ts
  app/poem/[id]/opengraph-image.tsx
  app/recap/[code]/page.tsx
  components/PoemDisplay.tsx
  components/RecapExportButton.tsx
  explorations/poem-artifact-card-lab/DECISION.md
  explorations/poem-artifact-card-lab/index.html
  explorations/poem-artifact-card-lab/print-preview.html
  explorations/poem-artifact-card-lab/print-preview.pdf
  hooks/useSavePoemImage.ts
  lib/analytics.ts
  lib/e2eTestIds.ts
  lib/poemCard/PoemCard.tsx
  lib/poemCard/colors.ts
  lib/poemCard/fonts.ts
  tests/app/api/poem-card-route.test.ts
  tests/app/api/poem-opengraph-image-route.test.ts
  tests/app/recap-page.test.tsx
  tests/components/RecapExportButton.test.tsx
  tests/hooks/useSavePoemImage.test.ts
  tests/lib/analytics.test.ts
  tests/lib/e2eTestIds.test.ts
  tests/lib/poemCard/PoemCard.test.ts
  tests/lib/poemCard/colors.test.ts
  tests/lib/poemCard/fonts.test.ts
Due: lint, format

feat(artifact): add poem image and print exports (#308)
  app/globals.css
  app/poem/[id]/card/route.ts
  app/poem/[id]/opengraph-image.tsx
  app/recap/[code]/page.tsx
  components/PoemDisplay.tsx
  components/RecapExportButton.tsx
  explorations/poem-artifact-card-lab/DECISION.md
  explorations/poem-artifact-card-lab/index.html
  explorations/poem-artifact-card-lab/print-preview.html
  explorations/poem-artifact-card-lab/print-preview.pdf
  hooks/useSavePoemImage.ts
  lib/analytics.ts
  lib/e2eTestIds.ts
  lib/poemCard/PoemCard.tsx
  lib/poemCard/colors.ts
  lib/poemCard/fonts.ts
  tests/app/api/poem-card-route.test.ts
  tests/app/api/poem-opengraph-image-route.test.ts
  tests/app/recap-page.test.tsx
  tests/components/RecapExportButton.test.tsx
  tests/hooks/useSavePoemImage.test.ts
  tests/lib/analytics.test.ts
  tests/lib/e2eTestIds.test.ts
  tests/lib/poemCard/PoemCard.test.ts
  tests/lib/poemCard/colors.test.ts
  tests/lib/poemCard/fonts.test.ts
Due: lint, format

fix: clarify core loop submit readiness
  app/globals.css
  components/PoemDisplay.tsx
  components/WritingScreen.tsx
  components/ui/Button.tsx
  explorations/linejam-945-core-loop-feel-lab/DECISION.md
  explorations/linejam-945-core-loop-feel-lab/index.html
  lib/roomChromeCopy.ts
  tests/components/PoemDisplay.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/components/ui/Button.test.tsx
  tests/lib/roomChromeCopy.test.ts
Due: lint, format

feat(stage): host presentation mode — lobby and reveal as a room-scale stage
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/stage/LobbyStage.tsx
  components/stage/RevealStage.tsx
  components/stage/StageShell.tsx
  convex/game.ts
  dagger/src/index.ts
  explorations/host-presentation-stage-lab/DECISION.md
  explorations/host-presentation-stage-lab/index.html
  lib/e2eTestIds.ts
  tests/components/Lobby.test.tsx
  tests/components/LobbyStage.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/RevealStage.test.tsx
  tests/convex/game.test.ts
  tests/lib/e2eTestIds.test.ts
Due: lint, format

feat(site): add marketing proof assets
  docs/labs/linejam-921-proof-assets/DECISION.md
  docs/labs/linejam-921-proof-assets/index.html
  site/DESIGN.md
  site/index.html
  site/marketing.css
Due: format

docs: document agent faces distribution
  README.md
  docs/agent-faces.md
  docs/evidence/linejam-920-mcp-registration.md
Due: format

fix(deps): remove unused production dependencies
  package.json
  pnpm-lock.yaml
Due: format

fix(e2e): stabilize guest archive and reveal share
  components/PoemDisplay.tsx
  tests/e2e/guest-archive-access.spec.ts
Due: lint, format

fix(e2e): stabilize guest archive and reveal share (#315)
  components/PoemDisplay.tsx
  tests/e2e/guest-archive-access.spec.ts
Due: lint, format

fix(e2e): isolate remaining guest session contexts
  tests/e2e/agentic-qa.spec.ts
  tests/e2e/auth.spec.ts
  tests/e2e/errors.spec.ts
  tests/e2e/favorites.spec.ts
Due: lint, format

fix(e2e): isolate remaining guest session contexts (#316)
  tests/e2e/agentic-qa.spec.ts
  tests/e2e/auth.spec.ts
  tests/e2e/errors.spec.ts
  tests/e2e/favorites.spec.ts
Due: lint, format

feat(stage): host presentation mode — lobby and reveal as a room-scale stage (#309)
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/stage/LobbyStage.tsx
  components/stage/RevealStage.tsx
  components/stage/StageShell.tsx
  convex/game.ts
  dagger/src/index.ts
  explorations/host-presentation-stage-lab/DECISION.md
  explorations/host-presentation-stage-lab/index.html
  lib/e2eTestIds.ts
  tests/components/Lobby.test.tsx
  tests/components/LobbyStage.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/RevealStage.test.tsx
  tests/convex/game.test.ts
  tests/lib/e2eTestIds.test.ts
Due: lint, format

fix: clarify core loop submit readiness (#310)
  app/globals.css
  components/PoemDisplay.tsx
  components/WritingScreen.tsx
  components/ui/Button.tsx
  explorations/linejam-945-core-loop-feel-lab/DECISION.md
  explorations/linejam-945-core-loop-feel-lab/index.html
  lib/roomChromeCopy.ts
  tests/components/PoemDisplay.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/components/ui/Button.test.tsx
  tests/lib/roomChromeCopy.test.ts
Due: lint, format

feat(site): add marketing proof assets (#311)
  docs/labs/linejam-921-proof-assets/DECISION.md
  docs/labs/linejam-921-proof-assets/index.html
  site/DESIGN.md
  site/index.html
  site/marketing.css
Due: format

docs: document agent faces distribution (#314)
  README.md
  docs/agent-faces.md
  docs/evidence/linejam-920-mcp-registration.md
Due: format

fix(deps): remove unused production dependencies (#313)
  package.json
  pnpm-lock.yaml
Due: format

chore(release): pin landmark@v0 and release with the workflow token
  .github/workflows/release.yml
Due: none

chore(release): pin landmark@v0 and release with the workflow token (#319)
  .github/workflows/release.yml
Due: none

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  5fc840367dab8869ed33c4dd548856f057acc2e3
Due: none

docs: version-reset note (1.x/2.x → 0.x)
  CHANGELOG.md
Due: format
