Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ⚠️  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm vitest run

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix: harden guest flow cleanup
  tests/components/RevealPhase.test.tsx
  tests/e2e/support/guestFlow.ts
Due: lint, format

fix: harden dagger smoke auth guards
  .groom/review-scores.ndjson
  scripts/canary/smoke-auth.mjs
  scripts/canary/trigger-smoke.mjs
  scripts/ci/dagger-call.sh
  tests/scripts/canary-smoke-auth.test.ts
Due: lint, format

fix: polish rebased qa evidence harness
  components/RoomChrome.tsx
  tests/e2e/errors.spec.ts
  tests/e2e/support/guestFlow.ts
Due: lint, format

chore: harden dagger worktree runs
  dagger/src/index.ts
  scripts/ci/dagger-call.sh
Due: lint, format

fix: patch next security audit
  package.json
  pnpm-lock.yaml
Due: format

feat: extract session lifecycle core (#213)
  .groom/review-scores.ndjson
  backlog.d/002-extract-session-transition-core.md
  backlog.d/_done/002-extract-session-transition-core.md
  convex/ai.ts
  convex/game.ts
  convex/lib/sessionLifecycle.ts
  dagger/src/index.ts
  package.json
  pnpm-lock.yaml
  scripts/ci/dagger-call.sh
  tests/app/api/health.test.ts
  tests/components/AuthErrorState.test.tsx
  tests/components/HelpModal.test.tsx
  tests/convex/aiLifecycle.test.ts
  tests/convex/game.test.ts
  tests/convex/lib/sessionLifecycle.test.ts
  tests/lib/analytics.test.ts
  tests/lib/roomChromeCopy.test.ts
Due: lint, format

feat: scaffold qa and demo evidence harness (#201)
  .claude/skills/demo/SKILL.md
  .claude/skills/demo/references/capture-plan.md
  .claude/skills/qa/SKILL.md
  .claude/skills/qa/references/personas.md
  .github/workflows/ci.yml
  commitlint.config.js
  components/Header.tsx
  components/RevealPhase.tsx
  components/RoomChrome.tsx
  docs/testing.md
  package.json
  playwright.config.ts
  scripts/evidence/guest-flow.mjs
  tests/components/RevealPhase.test.tsx
  tests/components/RoomChrome.test.tsx
  tests/e2e/auth.spec.ts
  tests/e2e/errors.spec.ts
  tests/e2e/game-flow.spec.ts
  tests/e2e/guest-flow.evidence.spec.ts
  tests/e2e/support/guestFlow.ts
  tests/setup.ts
Due: lint, format

fix: harden canary local dagger qa
  .groom/review-scores.ndjson
  app/api/guest/session/route.ts
  app/api/health/route.ts
  instrumentation.ts
  lib/canaryCore.ts
  lib/canaryServer.ts
  lib/errorCore.ts
  lib/errorServer.ts
  pnpm-lock.yaml
  scripts/canary/smoke-auth.mjs
  scripts/canary/trigger-smoke.mjs
  scripts/ci/dagger-call.sh
  scripts/ci/dotenv.mjs
  tests/app/api/guest-session.test.ts
  tests/app/api/health.test.ts
  tests/instrumentation.test.ts
  tests/lib/canary.test.ts
  tests/lib/canaryServer.test.ts
  tests/lib/error.test.ts
  tests/lib/errorServer.test.ts
  tests/scripts/canary-smoke-auth.test.ts
  tests/scripts/canary-trigger-smoke.test.ts
  tests/scripts/dagger-call.test.ts
  tests/scripts/dotenv.test.ts
Due: lint, format

fix: replace pnpm audit with osv-scanner in dagger
  dagger/src/index.ts
Due: lint, format

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  fdabea52895906492919a06d4569d2e6fd62a56d
Due: none

fix(deps): patch dompurify and ajv advisories
  package.json
  pnpm-lock.yaml
Due: format

style: prettier-format CHANGELOG.md
  CHANGELOG.md
Due: format

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  86c4441978b92cd9e936358e132a32abc2225d20
Due: none

fix(deps): patch clerk and protobufjs HIGH/CRITICAL advisories
  package.json
  pnpm-lock.yaml
Due: format

fix(release): prettier-format CHANGELOG.md during semantic-release
  .releaserc.js
  package.json
  pnpm-lock.yaml
Due: lint, format

chore: exclude .claude harness from app build/test/type scopes
  tsconfig.json
  vitest.config.ts
Due: lint, format

style: prettier-format .claude/skills/implement/SKILL.md
  .claude/skills/implement/SKILL.md
Due: format

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  0e09e1f0f643f476dc8d98b15b426a22388e9add
Due: none

chore: split dependabot majors into per-package PRs
  .github/dependabot.yml
Due: none

chore: split dependabot majors into per-package PRs (#219)
  .github/dependabot.yml
Due: none

chore(deps): improve Dependabot config and remove unused marked
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): improve Dependabot config and remove unused marked (#227)
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Due: format

fix(ci): stop Dependabot from double-stamping commit scopes
  .github/dependabot.yml
Due: none

fix(ci): stop Dependabot from double-stamping commit scopes (#232)
  .github/dependabot.yml
Due: none

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  205805b05cec670f0ab2156fe7998c68b7f19ce7
Due: none

chore(convex): regenerate api.d.ts for sessionLifecycle module
  convex/_generated/api.d.ts
Due: lint, format

chore(convex): regenerate api.d.ts for sessionLifecycle module (#234)
  convex/_generated/api.d.ts
Due: lint, format

test(harness): exclude harness roots from vitest
  vitest.config.ts
Due: lint, format

docs(harness): generalize skill bridge references
  .agents/skills/a11y/SKILL.md
  .agents/skills/code-review/SKILL.md
  .agents/skills/code-review/references/bench-map.md
  .agents/skills/code-review/references/bench-map.yaml
  .agents/skills/code-review/references/cross-harness.md
  .agents/skills/deliver/SKILL.md
  .agents/skills/demo/references/remotion.md
  .agents/skills/demo/references/scaffold.md
  .agents/skills/deploy/SKILL.md
  .agents/skills/deps/SKILL.md
  .agents/skills/flywheel/SKILL.md
  .agents/skills/implement/SKILL.md
  .agents/skills/qa/SKILL.md
  .agents/skills/qa/references/scaffold.md
  .agents/skills/refactor/SKILL.md
  .agents/skills/research/references/introspect.md
  .agents/skills/research/references/web-search.md
  .agents/skills/settle/SKILL.md
  .agents/skills/shape/SKILL.md
  .groom/review-scores.ndjson
  AGENTS.md
Due: format

docs(harness): align demo base url guidance
  .agents/skills/demo/SKILL.md
Due: format

docs(harness): address review wording nits
  .agents/skills/demo/SKILL.md
  .agents/skills/research/references/introspect.md
Due: format
