Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ⚠️  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm vitest run

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(observability): suppress expected Convex rejections from Sentry capture
  lib/error.ts
  lib/errorFeedback.ts
  tests/lib/error.test.ts
Due: lint, format

fix(observability): suppress expected Convex rejections from Sentry capture (#453)
  lib/error.ts
  lib/errorFeedback.ts
  tests/lib/error.test.ts
Due: lint, format

fix(observability): widen production smoke check-in margin
  config/sentry-observability.json
  docs/ops/observability-ci.md
  scripts/ops/report-sentry-check-in.mjs
  tests/scripts/report-sentry-check-in.test.ts
Due: lint, format

fix(observability): widen production smoke check-in margin (#456)
  config/sentry-observability.json
  docs/ops/observability-ci.md
  scripts/ops/report-sentry-check-in.mjs
  tests/scripts/report-sentry-check-in.test.ts
Due: lint, format

fix(observability): guard cron monitors against stale environments
  config/sentry-observability.json
  scripts/ops/check-sentry-observability.mjs
  tests/scripts/sentry-observability.test.ts
Due: lint, format

fix(observability): guard cron monitors against stale environments (#457)
  config/sentry-observability.json
  scripts/ops/check-sentry-observability.mjs
  tests/scripts/sentry-observability.test.ts
Due: lint, format

fix: adapt test types for Next 16.3 AppRouterInstance and ImportMeta.glob
  tests/components/Lobby.test.tsx
  tests/helpers/convexTest.ts
Due: lint, format

fix(observability): label scrubbed exception messages with closed vocabulary
  lib/sentryPrivacy.ts
  tests/lib/sentryPrivacy.test.ts
Due: lint, format

fix(observability): label scrubbed exception messages with closed vocabulary (#455)
  lib/sentryPrivacy.ts
  tests/lib/sentryPrivacy.test.ts
Due: lint, format

feat(qa): add scheduled production agent-play runner
  docs/ops/observability-ci.md
  package.json
  scripts/qa/check-play-linejam-skill.mjs
  scripts/qa/play-scheduled.prompt.md
  scripts/qa/run-scheduled-play.mjs
  tests/scripts/run-scheduled-play.test.ts
Due: lint, format

feat(qa): add scheduled production agent-play runner (#463)
  docs/ops/observability-ci.md
  package.json
  scripts/qa/check-play-linejam-skill.mjs
  scripts/qa/play-scheduled.prompt.md
  scripts/qa/run-scheduled-play.mjs
  tests/scripts/run-scheduled-play.test.ts
Due: lint, format

fix(auth): reuse room page guest session
  app/room/[code]/RoomPage.tsx
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  hooks/useRoomQueryArgs.ts
  lib/roomQueryArgs.ts
  tests/app/room-page.test.tsx
  tests/components/Lobby.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/WaitingScreen.test.tsx
  tests/components/WritingScreen.test.tsx
Due: lint, format

fix(observability): tolerate dropped GitHub cron slots in smoke monitor
  config/sentry-observability.json
  docs/ops/observability-ci.md
  scripts/ops/report-sentry-check-in.mjs
  tests/scripts/report-sentry-check-in.test.ts
Due: lint, format

feat(design): share app tokens on the static site
  docs/ARCHITECTURE.md
  docs/design-system.md
  lib/design/css.ts
  lib/design/index.ts
  package.json
  scripts/generate-releases.ts
  scripts/releases/site-changelog.ts
  scripts/site/emit-design-tokens.ts
  site/DESIGN.md
  site/aesthetic.css
  site/changelog.html
  site/index.html
  site/linejam.css
  site/marketing.css
  site/mode.js
  site/tokens.css
  tests/lib/design/css.test.ts
  tests/scripts/site-changelog.test.ts
Due: lint, format

fix(ux): surface post-reveal next actions near chrome
  components/RevealPhase.tsx
  components/RoomChrome.tsx
  components/SessionRecapHub.tsx
  components/ui/StickyActionBar.tsx
  lib/roomChromeCopy.ts
  tests/components/RevealPhase.test.tsx
  tests/components/RoomChrome.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/components/StickyActionBar.test.tsx
  tests/lib/roomChromeCopy.test.ts
Due: lint, format

test(e2e): assert post-reveal next actions sit above the reading circle
  tests/e2e/reveal-reader-leaver.spec.ts
Due: lint, format

fix(ux): keep post-reveal action labels readable on phones
  components/RevealPhase.tsx
  tests/e2e/reveal-reader-leaver.spec.ts
Due: lint, format

fix(deps): bump fast-uri and browserslist past HIGH OSV advisories
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(agents): use current requests for work selection
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: format

fix(ci): run required gate for documentation pull requests
  .github/workflows/ci.yml
Due: none

chore(agents): use current requests for work selection (#484)
  .github/workflows/ci.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: format

chore(workflow): clarify request-driven ownership and agent guidance
  .agents/skills/parlor/SKILL.md
  .agents/skills/parlor/SOURCE.json
  .agents/skills/parlor/reference.md
  AGENTS.md
  CONTRIBUTING.md
  VISION.md
  docs/adr/0006-theme-system-css-variables.md
  docs/adr/README.md
  docs/labs/linejam-921-proof-assets/DECISION.md
  docs/vision.md
  project.md
Due: format

feat(dev): add isolated local multiplayer development and QA
  .agents/skills/play-linejam/player.md
  .dockerignore
  .prettierignore
  compose.yaml
  docs/foundation.md
  docs/local-development.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/local/Dockerfile
  scripts/local/cli.mjs
  scripts/local/container.mjs
  scripts/local/identity.mjs
  scripts/local/playwright.config.ts
  tsconfig.json
  vitest.config.ts
Due: lint, format

fix(ci): isolate provider operations and enforce dependency audit results
  .github/workflows/ci.yml
  dagger/src/index.ts
  docs/deployment.md
  docs/ops/observability-ci.md
  docs/testing.md
  postcss.config.mjs
  scripts/ci/assert-coverage-summary.mjs
  scripts/ci/check-schema-migration-sequencing.mjs
  scripts/ci/dagger-call.sh
  scripts/ci/osv-audit.mjs
  scripts/doctor.mjs
  scripts/evidence/guest-flow.mjs
  scripts/ops/check-sentry-observability.mjs
  scripts/ops/report-sentry-check-in.mjs
  scripts/qa/agentic.mjs
  tests/ci/merge-gate-workflow.test.ts
  tests/ci/pages-workflow.test.ts
  tests/scripts/dagger-call.test.ts
  tests/scripts/osv-audit.test.ts
Due: lint, format

fix(game): preserve line recovery and verify full poem reading
  components/WritingScreen.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/WritingScreen.test.tsx
Due: lint, format

fix(dev): enforce owned lifecycle and trustworthy local QA evidence
  .github/workflows/ci.yml
  docs/local-development.md
  docs/testing.md
  scripts/evidence/guest-flow-artifacts.mjs
  scripts/local/cli.mjs
  scripts/local/container.mjs
  tests/scripts/guest-flow-evidence.test.ts
  tests/scripts/local-cli.test.ts
  tests/scripts/local-qa.test.ts
Due: lint, format

fix(e2e): restrict development diagnostics to affirmed loopback targets
  tests/e2e/major-page-smoke.spec.ts
  tests/e2e/support/devDiagnostics.ts
  tests/scripts/dev-diagnostics.test.ts
Due: lint, format

fix(ci): bind shared development sync to verified credentials
  docs/ops/observability-ci.md
  scripts/ci/dagger-call.sh
  tests/scripts/dagger-call.test.ts
Due: lint, format

fix(ci): install Compose 5.5.1 for isolated guest QA
  .github/workflows/ci.yml
Due: none

chore(harness): slim agent guidance and restore Parlor import (MIS-34)
  .agents/skills/linejam-cli/SKILL.md
  .agents/skills/parlor/SKILL.md
  .agents/skills/parlor/SOURCE.json
  .agents/skills/parlor/reference.md
  .agents/skills/play-linejam/SKILL.md
  .agents/skills/play-linejam/coordinator.md
  .agents/skills/play-linejam/player.md
  .claude
  .codex/config.toml
  .codex/skills
  .gitignore
  .pi/settings.json
  .pi/skills
  .prettierignore
  AGENTS.md
  CONTRIBUTING.md
  GEMINI.md
  README.md
  VISION.md
  docs/agent-faces.md
  docs/testing.md
  lefthook.yml
  project.md
  scripts/qa/check-play-linejam-skill.mjs
Due: format

test(design): stop pinning README font names (MIS-34)
  tests/lib/design/tailwind-contract.test.ts
Due: lint, format

fix(e2e): align hosted selectors with redesigned copy
  tests/e2e/lobby-viewport-matrix.spec.ts
  tests/e2e/mobile-entry-viewport.spec.ts
  tests/e2e/reveal-reader-leaver.spec.ts
  tests/e2e/support/clerk.ts
Due: lint, format

Slim Linejam agent guidance and restore Parlor import (#489)
  .agents/skills/linejam-cli/SKILL.md
  .agents/skills/parlor/SKILL.md
  .agents/skills/parlor/SOURCE.json
  .agents/skills/parlor/reference.md
  .agents/skills/play-linejam/SKILL.md
  .agents/skills/play-linejam/coordinator.md
  .agents/skills/play-linejam/player.md
  .claude
  .codex/config.toml
  .codex/skills
  .gitignore
  .pi/settings.json
  .pi/skills
  .prettierignore
  AGENTS.md
  CONTRIBUTING.md
  GEMINI.md
  README.md
  VISION.md
  docs/agent-faces.md
  docs/testing.md
  lefthook.yml
  project.md
  scripts/qa/check-play-linejam-skill.mjs
  tests/lib/design/tailwind-contract.test.ts
Due: lint, format

fix(e2e): match end-game copy and lobby roster names
  tests/e2e/end-game.spec.ts
  tests/e2e/support/guestFlow.ts
Due: lint, format
