Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ⚠️  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm vitest run

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(privacy): require explicit successful sharing
  app/api/guest/session/route.ts
  app/poem/[id]/card/route.ts
  components/PoemDisplay.tsx
  components/SessionRecapHub.tsx
  components/auth/AuthShowcase.tsx
  convex/archive.ts
  convex/guestSessions.ts
  convex/lib/env.ts
  convex/lib/guestToken.ts
  convex/lib/sharing.ts
  convex/poems.ts
  convex/schema.ts
  convex/shares.ts
  docs/sharing-privacy.md
  hooks/useSavePoemImage.ts
  hooks/useShareLink.ts
  hooks/useSharePoem.ts
  lib/env.ts
  lib/guestSessionThrottleProof.ts
  lib/guestToken.ts
  tests/app/api/guest-session.test.ts
  tests/app/api/poem-card-route.test.ts
  tests/app/public-artifact-privacy.test.ts
  tests/components/PoemDisplay.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/convex/archive.test.ts
  tests/convex/envValidation.test.ts
  tests/convex/guestSessions.test.ts
  tests/convex/readPathGuards.test.ts
  tests/convex/shares.test.ts
  tests/hooks/useSavePoemImage.test.ts
  tests/hooks/useShareLink.test.ts
  tests/hooks/useSharePoem.test.ts
Due: lint, format

fix(privacy): stage signed throttle rollout
  app/api/guest/session/route.ts
  convex/guestSessions.ts
  docs/testing.md
  scripts/evidence/static-server.mjs
  tests/app/api/guest-session.test.ts
  tests/convex/guestSessions.test.ts
  tests/scripts/convex-probe-function-exists.test.ts
Due: lint, format

refactor(security): bound throttle proof decoding
  lib/guestSessionThrottleProof.ts
  tests/convex/guestSessions.test.ts
Due: lint, format

fix(security): stage signed throttle deployment
  .github/workflows/ci.yml
  app/api/guest/session/route.ts
  convex/guestSessions.ts
  scripts/convex/probe-signed-throttle-ready.mjs
  tests/app/api/guest-session.test.ts
  tests/convex/guestSessions.test.ts
  tests/scripts/convex-probe-signed-throttle-ready.test.ts
Due: lint, format

fix(privacy): block sharing before reveal
  convex/shares.ts
  tests/convex/shares.test.ts
Due: lint, format

fix(security): prove throttle rollout contract
  convex/guestSessions.ts
  scripts/convex/probe-signed-throttle-ready.mjs
  tests/convex/guestSessions.test.ts
  tests/scripts/convex-probe-signed-throttle-ready.test.ts
Due: lint, format

chore(harness): overhaul agent primitives
  .agents/skills/linejam-cli/SKILL.md
  .codex/config.toml
  AGENTS.md
  docs/ops/observability-ci.md
  docs/testing.md
  package.json
  project.md
  scripts/ci/dagger-call.sh
  scripts/convex/probe-function-exists.mjs
  tests/scripts/dagger-call.test.ts
Due: lint, format

fix(harness): close primitive review gaps
  .claude/repo-brief.md
  .gitignore
  CONTRIBUTING.md
  GEMINI.md
  README.md
  convex/abandonment.ts
  scripts/ci/dagger-call.sh
  scripts/lib/claims.sh
  scripts/setup.sh
  tests/lib/auth.test.ts
  tests/lib/themes/tailwind-theme-contract.test.ts
  tests/scripts/claims.test.ts
  tests/scripts/dagger-call.test.ts
  tests/scripts/setup.test.ts
Due: lint, format

test(canary): connect responder checks to bound listener
  tests/scripts/canary-responder-http.test.ts
  tests/scripts/canary-responder.test.ts
Due: lint, format

chore(harness): overhaul repository agent primitives (#345)
  .agents/skills/linejam-cli/SKILL.md
  .claude/repo-brief.md
  .codex/config.toml
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  GEMINI.md
  README.md
  convex/abandonment.ts
  docs/ops/observability-ci.md
  docs/testing.md
  package.json
  project.md
  scripts/ci/dagger-call.sh
  scripts/convex/probe-function-exists.mjs
  scripts/lib/claims.sh
  scripts/setup.sh
  tests/lib/auth.test.ts
  tests/lib/themes/tailwind-theme-contract.test.ts
  tests/scripts/canary-responder-http.test.ts
  tests/scripts/canary-responder.test.ts
  tests/scripts/claims.test.ts
  tests/scripts/dagger-call.test.ts
  tests/scripts/setup.test.ts
Due: lint, format

test(e2e): isolate trusted ingress throttle buckets
  tests/e2e/support/guestFlow.ts
  tests/scripts/guest-flow-evidence.test.ts
Due: lint, format

fix(privacy): address final review findings
  .github/workflows/ci.yml
  convex/archive.ts
  convex/schema.ts
  hooks/useShareLink.ts
  tests/app/api/poem-card-route.test.ts
  tests/ci/merge-gate-workflow.test.ts
  tests/convex/archive.test.ts
  tests/convex/readPathGuards.test.ts
  tests/hooks/useShareLink.test.ts
Due: lint, format

chore(release): 0.18.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  e07b73a94d2a64068915bb6f30aff83c1f8de3df
Due: none

fix(security): remove unsigned throttle rollout endpoint
  convex/guestSessions.ts
  tests/convex/guestSessions.test.ts
Due: lint, format

test(security): assert throttle export surface
  tests/convex/guestSessions.test.ts
Due: lint, format

fix(security): remove unsigned throttle rollout endpoint (#346)
  convex/guestSessions.ts
  tests/convex/guestSessions.test.ts
Due: lint, format

chore(release): 0.18.2 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  324b7fabc349ac2ba17a9bdc54f918048e6b4b68
Due: none

fix(ai): budget ghostwriter generations
  convex/ai.ts
  convex/game.ts
  convex/lib/abuseRateLimit.ts
  convex/schema.ts
  tests/convex/aiLifecycle.test.ts
  tests/convex/game.test.ts
  tests/convex/ghostGenerationBudget.test.ts
Due: lint, format

fix(ai): ignore claimed ghost retries
  convex/game.ts
  tests/convex/game.test.ts
Due: lint, format

refactor(ai): parallelize claim reads
  convex/ai.ts
Due: lint, format

chore(release): 0.18.3 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  89bd8425f0c429aea9159e91affc1bbca225404d
Due: none

fix(gameplay): preserve rematch assignments
  convex/game.ts
  tests/convex/game.test.ts
  tests/e2e/game-flow.spec.ts
  tests/e2e/support/guestFlow.ts
Due: lint, format

fix(gameplay): preserve rematch assignments (#348)
  convex/game.ts
  tests/convex/game.test.ts
  tests/e2e/game-flow.spec.ts
  tests/e2e/support/guestFlow.ts
Due: lint, format

chore(release): 0.18.4 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  b3db40e09c115fb36577516471028516bd7c92d0
Due: none

fix(reveal): recover from absent readers
  components/RevealPhase.tsx
  components/stage/RevealStage.tsx
  convex/game.ts
  convex/lib/revealAuthorization.ts
  tests/components/RevealPhase.test.tsx
  tests/components/RevealStage.test.tsx
  tests/convex/game.test.ts
  tests/convex/lib/revealAuthorization.test.ts
  tests/e2e/reveal-reader-leaver.spec.ts
Due: lint, format

fix(reveal): recover from absent readers (#349)
  components/RevealPhase.tsx
  components/stage/RevealStage.tsx
  convex/game.ts
  convex/lib/revealAuthorization.ts
  tests/components/RevealPhase.test.tsx
  tests/components/RevealStage.test.tsx
  tests/convex/game.test.ts
  tests/convex/lib/revealAuthorization.test.ts
  tests/e2e/reveal-reader-leaver.spec.ts
Due: lint, format

chore(release): 0.18.5 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  edc18eec77c35c9b2c9e8be1d478365bb45fe108
Due: none

fix(infra): reconcile convex environment drift
  AGENTS.md
  app/api/health/route.ts
  config/convex-env-manifest.json
  convex/lib/env.ts
  docs/deployment.md
  docs/ops/observability-ci.md
  package.json
  scripts/ci/bootstrap-convex-env.mjs
  scripts/ci/reconcile-convex-env.mjs
  scripts/convex/probe-signed-throttle-ready.mjs
  tests/app/api/health.test.ts
  tests/convex/envValidation.test.ts
  tests/convex/http.test.ts
  tests/scripts/bootstrap-convex-env.test.ts
  tests/scripts/convex-probe-signed-throttle-ready.test.ts
  tests/scripts/reconcile-convex-env.test.ts
Due: lint, format

fix(ci): scope production target assertion
  scripts/ci/bootstrap-convex-env.mjs
  scripts/convex/probe-signed-throttle-ready.mjs
  tests/scripts/bootstrap-convex-env.test.ts
Due: lint, format

fix(infra): harden environment verification
  .env.example
  app/api/health/route.ts
  convex/lib/env.ts
  scripts/ci/bootstrap-convex-env.mjs
  scripts/ci/reconcile-convex-env.mjs
  scripts/convex/probe-signed-throttle-ready.mjs
  tests/app/api/health.test.ts
  tests/scripts/bootstrap-convex-env.test.ts
  tests/scripts/convex-probe-signed-throttle-ready.test.ts
  tests/scripts/reconcile-convex-env.test.ts
Due: lint, format

fix(infra): reconcile Convex environment drift (#350)
  .env.example
  AGENTS.md
  app/api/health/route.ts
  config/convex-env-manifest.json
  convex/lib/env.ts
  docs/deployment.md
  docs/ops/observability-ci.md
  package.json
  scripts/ci/bootstrap-convex-env.mjs
  scripts/ci/reconcile-convex-env.mjs
  scripts/convex/probe-signed-throttle-ready.mjs
  tests/app/api/health.test.ts
  tests/convex/envValidation.test.ts
  tests/convex/http.test.ts
  tests/scripts/bootstrap-convex-env.test.ts
  tests/scripts/convex-probe-signed-throttle-ready.test.ts
  tests/scripts/reconcile-convex-env.test.ts
Due: lint, format

chore(release): 0.18.6 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  7675fe618b88b5e06c798f8f21dae83fedd4727a
Due: none
