Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck

pre-push:
  commands:
    test:
      run: pnpm test:ci

    build:
      run: pnpm build

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat: implement comprehensive design system with Tailwind 4
  TODO.md
  app/globals.css
Due: format

feat: implement structured logging with Pino
  TODO.md
  lib/logger.test.ts
  lib/logger.ts
  package.json
  pnpm-lock.yaml
Due: lint, format, typecheck

feat: configure Sentry error tracking with source maps
  .env.example
  .gitignore
  instrumentation.ts
  lib/sentry.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: lint, format, typecheck

feat: setup Changesets for version management
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: format

feat: initialize Convex with schema for game data model
  .env.example
  convex/schema.ts
  package.json
  pnpm-lock.yaml
Due: lint, format, typecheck

feat: implement core game logic and frontend UI
  GEMINI.md
  TODO.md
  app/host/page.tsx
  app/join/page.tsx
  app/layout.tsx
  app/me/poems/page.tsx
  app/me/profile/page.tsx
  app/page.tsx
  app/poem/[id]/page.tsx
  app/providers.tsx
  app/room/[code]/page.tsx
  components/Lobby.tsx
  components/RevealList.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  components/ui/Button.tsx
  components/ui/Card.tsx
  components/ui/Input.tsx
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/favorites.ts
  convex/game.ts
  convex/lib/assignmentMatrix.ts
  convex/lib/wordCount.ts
  convex/poems.ts
  convex/rooms.ts
  convex/users.ts
  instrumentation.ts
  lib/auth.ts
  lib/convex.ts
  lib/sentry.ts
  lib/wordCount.ts
  package.json
  pnpm-lock.yaml
  test/lib/sentry.test.ts
  tests/assignmentMatrix.test.ts
  tests/wordCount.test.ts
Due: lint, format, typecheck

docs: update TODO.md to reflect completed implementation
  TODO.md
Due: format

feat: implement Zen Garden design system and reveal ceremony
  app/globals.css
  app/host/page.tsx
  app/join/page.tsx
  app/layout.tsx
  app/me/poems/page.tsx
  app/page.tsx
  app/poem/[id]/page.tsx
  app/room/[code]/page.tsx
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealList.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  components/ui/Button.tsx
  components/ui/Card.tsx
  components/ui/Input.tsx
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/game.ts
  convex/schema.ts
  lib/utils.ts
Due: lint, format, typecheck

docs: add README with project overview
  README.md
Due: format

chore: add backlog
  BACKLOG.md
Due: format

fix(build): add convex deploy to build script
  package.json
Due: format

refactor(auth): centralize getUser helper to convex/lib/auth.ts
  convex/favorites.ts
  convex/game.ts
  convex/lib/auth.ts
  convex/poems.ts
Due: lint, format, typecheck

fix(security): enforce authorization on poem and favorite queries
  convex/favorites.ts
  convex/poems.ts
Due: lint, format, typecheck

fix(logging): wire structured logger in all catch blocks
  TODO.md
  app/host/page.tsx
  app/join/page.tsx
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/WritingScreen.tsx
Due: lint, format, typecheck

fix(sentry): add error capture to all catch blocks
  TODO.md
  app/host/page.tsx
  app/join/page.tsx
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/WritingScreen.tsx
Due: lint, format, typecheck

feat(infra): add test-error and health check endpoints
  TODO.md
  app/api/health/route.ts
  app/test-error/page.tsx
Due: lint, format, typecheck

docs: add project documentation and task tracking
  BACKLOG.md
  CLAUDE.md
  TASK.md
  TODO.md
Due: format

fix(hooks): remove convex deploy from pre-push hooks
  lefthook.yml
  package.json
Due: format

refactor(logging): server-only Pino with captureError deep module
  app/host/page.tsx
  app/join/page.tsx
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/WritingScreen.tsx
  lib/error.ts
  lib/logger.ts
  package.json
  pnpm-lock.yaml
Due: lint, format, typecheck

test: remove logger test incompatible with server-only
  lib/logger.test.ts
Due: lint, format, typecheck

test(ci): clear commit SHA env vars in sentry test
  test/lib/sentry.test.ts
Due: lint, format, typecheck

chore(ci): use build:check to skip convex deploy
  .github/workflows/ci.yml
Due: none

chore(ci): add placeholder convex url for build validation
  .github/workflows/ci.yml
Due: none

chore(ci): add clerk placeholder key for build validation
  .github/workflows/ci.yml
Due: none

chore(ci): use valid-format clerk key placeholder
  .github/workflows/ci.yml
Due: none

chore(ci): use secrets for clerk and convex env vars
  .github/workflows/ci.yml
Due: none

fix: address PR review comments for auth and observability
  BACKLOG.md
  app/host/page.tsx
  app/poem/[id]/page.tsx
  app/test-error/page.tsx
  components/RevealList.tsx
  convex/poems.ts
  lib/error.ts
Due: lint, format, typecheck

chore: docs cleanup
  TASK.md
  TODO.md
Due: format

style: implement Kenya Hara minimalist design system
  app/globals.css
  app/host/page.tsx
  app/join/page.tsx
  app/layout.tsx
  app/me/poems/page.tsx
  app/me/profile/page.tsx
  app/page.tsx
  app/room/[code]/page.tsx
  commitlint.config.js
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealList.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  components/ui/Button.tsx
  components/ui/Card.tsx
  components/ui/Input.tsx
  convex/_generated/api.d.ts
  convex/lib/assignmentMatrix.ts
  convex/rooms.ts
  convex/users.ts
  package.json
  test/example.test.ts
  tests/lib/sentry.test.ts
  tests/setup.ts
  vitest.config.ts
Due: lint, format, typecheck

fix: configure Convex deploy for Vercel builds
  .env.example
  CLAUDE.md
  package.json
Due: format

fix: use pnpm for Convex build command
  package.json
Due: format

docs: add ops hardening documentation and gitleaks config
  .gitleaks.toml
  AGENTS.md
  BACKLOG.md
  DESIGN.md
  TASK.md
  TODO.md
Due: format

chore: wire gitleaks into lefthook pre-commit hook
  TODO.md
  lefthook.yml
Due: format

docs: add secret scanning section to README
  README.md
Due: format

chore: parallelize quality checks and add secret scanning
  .github/workflows/ci.yml
Due: none

feat: enhance health route with error handling and caching
  app/api/health/route.ts
Due: lint, format, typecheck

test: add comprehensive tests for health route
  tests/app/api/health.test.ts
Due: lint, format, typecheck

fix: externalize Pino packages to resolve build errors
  next.config.ts
Due: lint, format, typecheck

chore: mark all operational reliability tasks complete
  TODO.md
Due: format
