Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

chore: update vision
  vision.md
Due: format

fix(ci): upgrade Next.js 16.1.6 (CVE), fix Cerberus API key, fix crypto types
  .github/workflows/cerberus.yml
  CHANGELOG.md
  lib/guestToken.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

fix(ci): upgrade Next.js 16.1.6 (CVE), fix Cerberus API key, fix crypto types (#160)
  .github/workflows/cerberus.yml
  CHANGELOG.md
  lib/guestToken.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

fix(lint): add coverage/ to ESLint ignores
  eslint.config.mjs
Due: none

fix(game): prevent double round advancement via idempotent guard
  convex/ai.ts
  convex/game.ts
  tests/convex/game.test.ts
Due: lint, format

fix(game): add bounds checking to assignment matrix access
  convex/ai.ts
  convex/game.ts
  convex/lib/assignmentMatrix.ts
  tests/assignmentMatrix.test.ts
  tests/convex/game.test.ts
Due: lint, format

fix(auth): show error state with retry on guest auth failure
  app/host/page.tsx
  app/join/page.tsx
  app/room/[code]/page.tsx
  lib/auth.ts
  tests/lib/auth.test.ts
Due: lint, format

perf(favorites): parallelize getMyFavorites query — N+1 to batch
  convex/favorites.ts
Due: lint, format

fix(a11y): use theme-aware focus ring token instead of hardcoded primary
  components/PoemDisplay.tsx
  components/ui/Button.tsx
  components/ui/Input.tsx
Due: lint, format

fix(game): prevent double round advancement via idempotent guard (#155)
  convex/ai.ts
  convex/game.ts
  tests/convex/game.test.ts
Due: lint, format

fix(game): add bounds checking to assignment matrix access (#156)
  convex/ai.ts
  convex/game.ts
  convex/lib/assignmentMatrix.ts
  tests/assignmentMatrix.test.ts
  tests/convex/game.test.ts
Due: lint, format

perf(favorites): parallelize getMyFavorites query — N+1 to batch (#158)
  convex/favorites.ts
Due: lint, format

fix(a11y): use theme-aware focus ring token instead of hardcoded primary (#159)
  components/PoemDisplay.tsx
  components/ui/Button.tsx
  components/ui/Input.tsx
Due: lint, format

fix(lint): add coverage/ to ESLint ignores (#154)
  eslint.config.mjs
Due: none

fix(ci): unblock cerberus + dependabot CI
  .github/workflows/cerberus.yml
  .github/workflows/ci.yml
  lib/env.ts
Due: lint, format

fix(deps): keep eslint on v9
  package.json
  pnpm-lock.yaml
Due: format

fix(ci): repair workflow gating
  .github/workflows/cerberus.yml
  .github/workflows/ci.yml
Due: none

fix(auth): don't block Clerk on guest session error
  app/host/page.tsx
  app/join/page.tsx
  app/room/[code]/page.tsx
  components/AuthErrorState.tsx
  lib/auth.ts
Due: lint, format

test(auth): don't require guest session for Clerk
  tests/lib/auth.test.ts
Due: lint, format

chore: fix cerberus OpenRouter secret
  .github/workflows/cerberus.yml
Due: none

chore: checkout repo for cerberus jobs
  .github/workflows/cerberus.yml
Due: none

chore: install pnpm for cerberus
  .github/workflows/cerberus.yml
Due: none

chore: let pnpm/action-setup read packageManager
  .github/workflows/cerberus.yml
Due: none

chore: upgrade cerberus workflow to v2
  .github/workflows/cerberus.yml
Due: none

chore: fix Cerberus OpenRouter secret + preflight (#163)
  .github/workflows/cerberus.yml
  app/host/page.tsx
  app/join/page.tsx
  app/room/[code]/page.tsx
  components/AuthErrorState.tsx
  lib/auth.ts
  tests/lib/auth.test.ts
Due: lint, format

fix: show guest auth failure state and retry
  app/me/poems/page.tsx
  hooks/useRoomQueryArgs.ts
Due: lint, format

fix(auth): guard stale guest-session retries
  app/join/page.tsx
  components/AuthErrorState.tsx
  lib/auth.ts
  tests/lib/auth.test.ts
Due: lint, format

fix(ci): patch minimatch advisory in lockfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(auth): honor provided room token during auth errors
  app/me/poems/page.tsx
  hooks/useRoomQueryArgs.ts
  tests/components/WaitingScreen.test.tsx
Due: lint, format

fix(auth): show error state with retry on guest auth failure (#157)
  app/join/page.tsx
  components/AuthErrorState.tsx
  lib/auth.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/lib/auth.test.ts
Due: lint, format

test: stop mocking internal auth in waiting screen
  tests/components/WaitingScreen.test.tsx
Due: lint, format

Fix guest auth silent failure with retry path (#162)
  app/me/poems/page.tsx
  hooks/useRoomQueryArgs.ts
  tests/components/WaitingScreen.test.tsx
Due: lint, format

fix: logShare throws ConvexError on invalid poem ID instead of silent return
  convex/shares.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md,css}
