Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat: add agentic QA harness
  .gitignore
  backlog.d/_done/007-establish-stagehand-agentic-qa-harness.md
  dagger/src/index.ts
  docs/ops/canary-responder.md
  docs/testing.md
  package.json
  pnpm-lock.yaml
  qa/agentic/critic.mjs
  qa/agentic/manifest.mjs
  qa/agentic/missions.mjs
  qa/agentic/modelEnv.mjs
  qa/agentic/promptfoo.config.yaml
  scripts/canary/store.mjs
  scripts/canary/trigger-smoke.mjs
  scripts/ci/dagger-call.sh
  scripts/qa/agentic-critic-fixtures.mjs
  scripts/qa/agentic-runner.mjs
  tests/scripts/agentic-qa.test.ts
  tests/scripts/canary-store.test.ts
  tests/scripts/canary-trigger-smoke.test.ts
  tests/scripts/dagger-call.test.ts
Due: lint, format

docs: codify runtime path verification
  .agents/skills/ci/SKILL.md
  .agents/skills/code-review/SKILL.md
Due: format

fix(qa): harden agentic preview runner
  AGENTS.md
  qa/agentic/modelEnv.mjs
  scripts/qa/agentic-runner.mjs
  tests/scripts/agentic-qa.test.ts
Due: lint, format

feat: add agentic qa harness
  .gitignore
  app/layout.tsx
  dagger/src/index.ts
  docs/testing.md
  next.config.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  qa/agentic/critic.mjs
  qa/agentic/manifest.mjs
  qa/agentic/missions.mjs
  qa/agentic/promptfoo.mjs
  qa/agentic/promptfoo.yaml
  qa/agentic/stagehand.mjs
  scripts/canary/responder.mjs
  scripts/canary/trigger-smoke.mjs
  scripts/ci/dagger-call.sh
  scripts/qa/agentic.mjs
  tests/app/auth-callback-page.test.tsx
  tests/e2e/agentic-qa.spec.ts
  tests/qa/agentic.test.ts
  tests/scripts/canary-responder-http.test.ts
  tests/scripts/canary-responder.test.ts
  tests/scripts/canary-trigger-smoke.test.ts
  tests/support/clerk-support.test.ts
Due: lint, format

chore(backlog): archive shipped tickets
  backlog.d/_done/007-establish-stagehand-agentic-qa-harness.md
Due: format

feat: add agentic qa harness
  .gitignore
  app/layout.tsx
  backlog.d/_done/007-establish-stagehand-agentic-qa-harness.md
  dagger/src/index.ts
  docs/testing.md
  next.config.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  qa/agentic/critic.mjs
  qa/agentic/manifest.mjs
  qa/agentic/missions.mjs
  qa/agentic/promptfoo.mjs
  qa/agentic/promptfoo.yaml
  qa/agentic/stagehand.mjs
  scripts/canary/responder.mjs
  scripts/canary/trigger-smoke.mjs
  scripts/ci/dagger-call.sh
  scripts/qa/agentic.mjs
  tests/app/auth-callback-page.test.tsx
  tests/e2e/agentic-qa.spec.ts
  tests/qa/agentic.test.ts
  tests/scripts/canary-responder-http.test.ts
  tests/scripts/canary-responder.test.ts
  tests/scripts/canary-trigger-smoke.test.ts
  tests/support/clerk-support.test.ts
Due: lint, format

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  36c87e8df5be6b5ffe59af9b1fbcb78e2a3092be
Due: none

chore(backlog): groom linejam queue
  AGENTS.md
  backlog.d/003-bootstrap-local-dev-loop.md
  backlog.d/004-establish-release-governance-baseline.md
  backlog.d/005-add-request-telemetry-for-room-flows.md
  backlog.d/006-build-post-reveal-session-hub.md
  backlog.d/008-govern-evidence-and-smoke-artifacts.md
  backlog.d/009-make-sharing-privacy-explicit.md
Due: format

feat(observability): add scrubbed route telemetry
  AGENTS.md
  README.md
  app/api/guest/session/route.ts
  app/api/health/route.ts
  app/robots.ts
  app/test-error/page.tsx
  backlog.d/005-add-request-telemetry-for-room-flows.md
  backlog.d/_done/005-add-request-telemetry-for-room-flows.md
  docs/testing.md
  lib/canaryCore.ts
  lib/errorCore.ts
  lib/logger.ts
  tests/app/api/guest-session.test.ts
  tests/app/api/health.test.ts
  tests/lib/error.test.ts
  tests/lib/logger.test.ts
Due: lint, format

feat(observability): add scrubbed route telemetry
  AGENTS.md
  README.md
  app/api/guest/session/route.ts
  app/api/health/route.ts
  app/robots.ts
  app/test-error/page.tsx
  backlog.d/003-bootstrap-local-dev-loop.md
  backlog.d/004-establish-release-governance-baseline.md
  backlog.d/005-add-request-telemetry-for-room-flows.md
  backlog.d/006-build-post-reveal-session-hub.md
  backlog.d/008-govern-evidence-and-smoke-artifacts.md
  backlog.d/009-make-sharing-privacy-explicit.md
  backlog.d/_done/005-add-request-telemetry-for-room-flows.md
  docs/testing.md
  lib/canaryCore.ts
  lib/errorCore.ts
  lib/logger.ts
  tests/app/api/guest-session.test.ts
  tests/app/api/health.test.ts
  tests/lib/error.test.ts
  tests/lib/logger.test.ts
Due: lint, format

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  23797015980dfa5c3c8b1f9efd6a3759dd487ace
Due: none

feat(reveal): add shared session recap hub
  AGENTS.md
  README.md
  app/recap/[code]/metadata.ts
  app/recap/[code]/opengraph-image.tsx
  app/recap/[code]/page.tsx
  backlog.d/006-build-post-reveal-session-hub.md
  backlog.d/_done/006-build-post-reveal-session-hub.md
  components/README.md
  components/RevealList.tsx
  components/RevealPhase.tsx
  components/SessionRecapHub.tsx
  convex/poems.ts
  tests/components/RevealPhase.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/convex/poems.test.ts
Due: lint, format

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  3ad758e2e8d0355c69bbb7263f594e698b347dec
Due: none

chore(evidence): govern smoke and qa artifacts
  .github/workflows/ci.yml
  .github/workflows/preview-smoke.yml
  .github/workflows/prod-smoke.yml
  backlog.d/008-govern-evidence-and-smoke-artifacts.md
  backlog.d/_done/008-govern-evidence-and-smoke-artifacts.md
  docs/ops/canary-responder.md
  docs/testing.md
  eslint.config.mjs
  playwright.smoke.config.ts
  scripts/canary/trigger-smoke.mjs
  scripts/evidence/guest-flow-artifacts.mjs
  scripts/evidence/guest-flow.mjs
  scripts/evidence/verdict.mjs
  tests/e2e/support/guestFlow.ts
  tests/e2e/support/vercelProtection.ts
  tests/scripts/guest-flow-evidence.test.ts
  tests/support/vercelProtection.test.ts
Due: lint, format

chore(dev): bootstrap local setup loop
  .gitignore
  AGENTS.md
  CLAUDE.md
  README.md
  backlog.d/003-bootstrap-local-dev-loop.md
  backlog.d/_done/003-bootstrap-local-dev-loop.md
  scripts/lib/claims.sh
  scripts/setup.sh
  tests/scripts/claims.test.ts
  tests/scripts/setup.test.ts
Due: lint, format

docs(release): add governance baseline
  AGENTS.md
  CODEOWNERS
  CONTRIBUTING.md
  README.md
  SECURITY.md
  backlog.d/004-establish-release-governance-baseline.md
  backlog.d/_done/004-establish-release-governance-baseline.md
Due: format

feat(sharing): require explicit public links
  AGENTS.md
  README.md
  app/poem/[id]/PoemDetail.tsx
  backlog.d/009-make-sharing-privacy-explicit.md
  backlog.d/_done/009-make-sharing-privacy-explicit.md
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/SessionRecapHub.tsx
  convex/poems.ts
  convex/schema.ts
  convex/shares.ts
  docs/sharing-privacy.md
  hooks/useShareLink.ts
  hooks/useSharePoem.ts
  tests/app/poem-detail.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/convex/poems.test.ts
  tests/convex/shares.test.ts
  tests/hooks/useShareLink.test.ts
  tests/hooks/useSharePoem.test.ts
Due: lint, format

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  d4c93be00e02a86406569cab63001953392a7205
Due: none

chore(backlog): emit groomed strategy backlog (010-015)
  .codex/config.toml
  TASK_COMPLETE
  backlog.d/010-game-modes-platform.md
  backlog.d/011-realtime-resilience.md
  backlog.d/012-drama-pass.md
  backlog.d/013-reveal-celebration.md
  backlog.d/014-mobile-thumb-test.md
  backlog.d/015-repo-hygiene-doc-truth.md
Due: format

docs(project): absorb vision.md and refresh active focus
  .gitignore
  project.md
  vision.md
Due: format

chore(backlog): archive shipped ticket 015
  backlog.d/_done/015-repo-hygiene-doc-truth.md
Due: format

feat(game): make rules data and ship Rhyme Relay + Quick Jam modes
  backlog.d/_done/015-repo-hygiene-doc-truth.md
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/WritingScreen.tsx
  convex/ai.ts
  convex/game.ts
  convex/lib/assignmentMatrix.ts
  convex/lib/gameRules.ts
  convex/lib/sessionLifecycle.ts
  convex/lib/wordCount.ts
  convex/rooms.ts
  convex/schema.ts
  lib/roomChromeCopy.ts
  tests/assignmentMatrix.test.ts
  tests/components/Lobby.test.tsx
  tests/convex/game.test.ts
  tests/convex/gameRules.test.ts
  tests/convex/lib/sessionLifecycle.test.ts
  tests/convex/rooms.test.ts
  tests/convex/wordCount.test.ts
Due: lint, format

chore(backlog): archive shipped ticket 010
  backlog.d/_done/010-game-modes-platform.md
Due: format

feat(realtime): make the room unstrandable — rescue, rematch, self-heal
  components/RevealPhase.tsx
  components/SessionRecapHub.tsx
  components/WaitingScreen.tsx
  convex/ai.ts
  convex/game.ts
  convex/lib/ai/personas.ts
  convex/lib/ai/providers/types.ts
  convex/lib/gameRules.ts
  convex/lib/sessionLifecycle.ts
  convex/schema.ts
  tests/components/RevealPhase.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/components/WaitingScreen.test.tsx
  tests/convex/aiLifecycle.test.ts
  tests/convex/game.test.ts
  tests/convex/lib/sessionLifecycle.test.ts
Due: lint, format

chore(backlog): archive shipped ticket 011
  backlog.d/_done/011-realtime-resilience.md
Due: format

feat(writing): engineer tension — round clock, sparks, waiting theater
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  components/ui/RoundClock.tsx
  convex/game.ts
  hooks/useRoundClock.ts
  lib/sparks.ts
  tests/hooks/useRoundClock.test.ts
  tests/lib/sparks.test.ts
Due: lint, format

chore(backlog): archive shipped ticket 012
  backlog.d/_done/012-drama-pass.md
Due: format

feat(reveal): stage the ceremony and crown a room favorite
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/SessionRecapHub.tsx
  components/ui/HeartButton.tsx
  convex/favorites.ts
  tests/components/PoemDisplay.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/SessionRecapHub.test.tsx
  tests/convex/favorites.test.ts
Due: lint, format

chore(backlog): archive shipped ticket 013
  backlog.d/_done/013-reveal-celebration.md
Due: format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md,css}
