Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ‚ö†Ô∏è  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm test:ci

    coverage-info:
      run: |
        if [ -f coverage/coverage-summary.json ]; then
          LINES=$(jq '.total.lines.pct' coverage/coverage-summary.json 2>/dev/null || echo "N/A")
          BRANCHES=$(jq '.total.branches.pct' coverage/coverage-summary.json 2>/dev/null || echo "N/A")
          FUNCTIONS=$(jq '.total.functions.pct' coverage/coverage-summary.json 2>/dev/null || echo "N/A")
          STATEMENTS=$(jq '.total.statements.pct' coverage/coverage-summary.json 2>/dev/null || echo "N/A")
          echo ""
          echo "üìä Current Test Coverage:"
          echo "  Lines:      ${LINES}% (target: 80%)"
          echo "  Branches:   ${BRANCHES}% (target: 80%)"
          echo "  Functions:  ${FUNCTIONS}% (target: 80%)"
          echo "  Statements: ${STATEMENTS}% (target: 80%)"
          echo ""
        else
          echo "‚ÑπÔ∏è  No coverage data found. Run 'pnpm test:ci' to generate coverage."
        fi

    build:
      run: pnpm build:check

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(ci): set GUEST_TOKEN_SECRET for e2e tests and fix unit test tampering
  .github/workflows/ci.yml
  playwright.config.ts
  tests/guestToken.test.ts
Due: lint, format

fix(ci): sync GUEST_TOKEN_SECRET across stack and add fallback log
  .github/workflows/ci.yml
  convex/lib/guestToken.ts
  lib/guestToken.ts
  playwright.config.ts
Due: lint, format

revert(ci): restore default secret to match backend deployment
  .github/workflows/ci.yml
  convex/lib/guestToken.ts
  lib/guestToken.ts
Due: lint, format

fix(auth): allow default guest secret fallback in production to support CI/Preview environments
  lib/guestToken.ts
Due: lint, format

test(e2e): skip secret-dependent tests until backend environment is synced
  tests/e2e/auth.spec.ts
  tests/e2e/errors.spec.ts
  tests/e2e/game-flow.spec.ts
Due: lint, format

test(e2e): globally skip secret-dependent test files
  tests/e2e/auth.spec.ts
  tests/e2e/errors.spec.ts
  tests/e2e/game-flow.spec.ts
Due: lint, format

docs: update TODO to reflect E2E status and project completion
  TODO.md
Due: format

fix(security): strictly require GUEST_TOKEN_SECRET in production (P0)
  lib/guestToken.ts
Due: lint, format

chore: wire guest token secret for e2e
  .env.example
  .github/workflows/ci.yml
  tests/e2e/auth.spec.ts
  tests/e2e/errors.spec.ts
  tests/e2e/game-flow.spec.ts
Due: lint, format

docs: complete Phase 5 hardening and documentation
  .github/workflows/ci.yml
  README.md
  TODO.md
  docs/testing.md
Due: format

chore: docs cleanup
  TASK.md
  TODO.md
Due: format

feat: Implement comprehensive test coverage automation (#8)
  .env.example
  .github/workflows/ci.yml
  .gitignore
  README.md
  TASK.md
  app/me/poems/page.tsx
  convex/lib/guestToken.ts
  docs/testing.md
  lefthook.yml
  lib/guestToken.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/app/api/guest-session.test.ts
  tests/app/api/health.test.ts
  tests/components/Lobby.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/components/ui/EnsoCounter.test.tsx
  tests/convex/favorites.test.ts
  tests/convex/game-convex-test-example.test.ts
  tests/convex/game.test.ts
  tests/convex/lib/auth.test.ts
  tests/convex/poems.test.ts
  tests/convex/rateLimit.test.ts
  tests/convex/rooms.test.ts
  tests/convex/users.test.ts
  tests/e2e/.gitkeep
  tests/e2e/auth.spec.ts
  tests/e2e/errors.spec.ts
  tests/e2e/favorites.spec.ts
  tests/e2e/game-flow.spec.ts
  tests/guestToken.test.ts
  tests/helpers/envHelper.ts
  tests/helpers/mockConvexDb.ts
  tests/lib/auth.test.ts
  tests/lib/error.test.ts
  tests/lib/roomCode.test.ts
  vitest.config.ts
Due: lint, format

chore: remove completed alert() task and add worktrees to gitignore
  .gitignore
  BACKLOG.md
Due: format

perf: eliminate N+1 query patterns in game and poems modules
  convex/game.ts
  convex/poems.ts
  tests/convex/game.test.ts
  tests/convex/poems.test.ts
Due: lint, format

fix: guest token cross-platform compatibility and deployment
  BACKLOG.md
  TASK.md
Due: format

fix: guest token cross-platform compatibility and deployment
  convex/lib/guestToken.ts
  docs/deployment.md
  lib/guestToken.ts
  tests/integration/guestToken-cross-platform.test.ts
Due: lint, format

fix: add error handling for invalid base64url in token verification
  convex/lib/guestToken.ts
Due: lint, format

perf: eliminate N+1 query patterns in game and poems modules (#9)
  convex/game.ts
  convex/lib/guestToken.ts
  convex/poems.ts
  docs/deployment.md
  lib/guestToken.ts
  tests/convex/game.test.ts
  tests/convex/poems.test.ts
  tests/integration/guestToken-cross-platform.test.ts
Due: lint, format

feat: add build-time env validation and enhanced health checks
  .env.example
  app/api/health/route.ts
  lib/env.ts
  next.config.ts
  tests/app/api/health.test.ts
  vitest.config.ts
Due: lint, format

fix: configure coverage badges and repair CI build
  .github/workflows/ci.yml
  README.md
  TASK.md
Due: format

fix: resolve CI failures (pnpm version conflict + badge 409)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: use gh api PATCH for atomic gist badge updates
  .github/workflows/ci.yml
Due: none

chore: update backlog
  BACKLOG.md
Due: format

feat: add share foundation (tokens + schema)
  DESIGN.md
  TASK.md
  TODO.md
  convex/schema.ts
  convex/shares.ts
  lib/tokens.ts
  pnpm-workspace.yaml
Due: lint, format

feat: add public poem preview query
  TODO.md
  convex/poems.ts
  tests/convex/poems.test.ts
Due: lint, format

feat: add dynamic OG image generation
  TODO.md
  app/poem/[id]/opengraph-image.tsx
Due: lint, format

feat: add share button and metadata
  TODO.md
  app/poem/[id]/PoemDetail.tsx
  app/poem/[id]/metadata.ts
  app/poem/[id]/page.tsx
Due: lint, format

test: add unit tests for shares module
  TODO.md
  tests/convex/shares.test.ts
Due: lint, format

fix: add captureError utility to lib/sentry.ts
  lib/sentry.ts
Due: lint, format

fix(og): await params in opengraph-image.tsx
  app/poem/[id]/opengraph-image.tsx
Due: lint, format

fix(og): use WOFF fonts from jsdelivr and safe array expansion
  app/poem/[id]/opengraph-image.tsx
Due: lint, format

feat: add share button to ceremonial reveal (PoemDisplay)
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
Due: lint, format

chore: configure project favicons and manifest
  app/apple-icon.png
  app/favicon.ico
  app/icon.png
  app/layout.tsx
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/site.webmanifest
Due: lint, format

chore: update convex generated types
  convex/_generated/api.d.ts
Due: lint, format

fix: resolve PR #10 feedback - public poem links, DRY extraction, optimizations
  app/poem/[id]/PoemDetail.tsx
  app/poem/[id]/metadata.ts
  components/PoemDisplay.tsx
  convex/poems.ts
  hooks/useSharePoem.ts
  public/site.webmanifest
  tests/convex/poems.test.ts
  tests/helpers/mockConvexDb.ts
Due: lint, format

feat: Share and Export Poems (#10)
  DESIGN.md
  TASK.md
  TODO.md
  app/apple-icon.png
  app/favicon.ico
  app/icon.png
  app/layout.tsx
  app/poem/[id]/PoemDetail.tsx
  app/poem/[id]/metadata.ts
  app/poem/[id]/opengraph-image.tsx
  app/poem/[id]/page.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  convex/_generated/api.d.ts
  convex/poems.ts
  convex/schema.ts
  convex/shares.ts
  hooks/useSharePoem.ts
  lib/sentry.ts
  lib/tokens.ts
  pnpm-workspace.yaml
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/site.webmanifest
  tests/convex/poems.test.ts
  tests/convex/shares.test.ts
  tests/helpers/mockConvexDb.ts
Due: lint, format

feat: enhance avatar visual design with texture and shadow
  BACKLOG.md
  DESIGN.md
  TASK.md
  TODO.md
  app/me/profile/page.tsx
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
  components/ui/Avatar.tsx
  convex/game.ts
  convex/rooms.ts
  lib/avatarColor.ts
  tests/components/Lobby.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/convex/rooms.test.ts
Due: lint, format

refactor: shrink avatars to tiny accent dots
  app/me/profile/page.tsx
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
  components/ui/Avatar.tsx
Due: lint, format

Enhance avatar visual design with texture and shadow (#11)
  BACKLOG.md
  DESIGN.md
  TASK.md
  TODO.md
  app/me/profile/page.tsx
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
  components/ui/Avatar.tsx
  convex/game.ts
  convex/rooms.ts
  lib/avatarColor.ts
  tests/components/Lobby.test.tsx
  tests/components/RevealPhase.test.tsx
  tests/convex/rooms.test.ts
Due: lint, format
