Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat(ops): declare DigitalOcean topology
  AGENTS.md
  config/digitalocean-apps.json
  docs/deployment.md
  package.json
  scripts/ops/check-digitalocean-app-drift.mjs
  tests/scripts/digitalocean-app-drift.test.ts
Due: lint, format

test(ops): cover drift failure modes
  tests/scripts/digitalocean-app-drift.test.ts
Due: lint, format

fix(ops): close provider drift gaps
  docs/deployment.md
  scripts/ops/check-digitalocean-app-drift.mjs
  tests/scripts/digitalocean-app-drift.test.ts
Due: lint, format

test(ops): cover responder topology
  tests/scripts/digitalocean-app-drift.test.ts
Due: lint, format

test(canary): await smoke follow-up teardown
  tests/scripts/canary-responder-http.test.ts
Due: lint, format

feat(ops): declare DigitalOcean topology (#351)
  AGENTS.md
  config/digitalocean-apps.json
  docs/deployment.md
  package.json
  scripts/ops/check-digitalocean-app-drift.mjs
  tests/scripts/canary-responder-http.test.ts
  tests/scripts/digitalocean-app-drift.test.ts
Due: lint, format

chore(release): 0.19.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  b4a5819e308a53aeaeee6731919871c511d4e530
Due: none

fix(ci): fail closed on empty coverage
  AGENTS.md
  docs/testing.md
  package.json
  scripts/ci/assert-coverage-summary.mjs
  tests/ci/coverage-summary.test.ts
  vitest.config.ts
Due: lint, format

fix(ci): normalize coverage exclusion paths
  tests/ci/coverage-summary.test.ts
  vitest.config.ts
Due: lint, format

fix(ci): fail closed on empty coverage (#352)
  AGENTS.md
  docs/testing.md
  package.json
  scripts/ci/assert-coverage-summary.mjs
  tests/ci/coverage-summary.test.ts
  vitest.config.ts
Due: lint, format

chore(release): 0.19.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  45b95ad3b1e8cec0482c6cf0e6891bd040041ce5
Due: none

fix: recover clients across rolling deployments
  .env.example
  AGENTS.md
  app/api/health/route.ts
  app/layout.tsx
  app/providers.tsx
  components/CanaryClientObserver.tsx
  components/DeploymentSkewObserver.tsx
  components/WritingScreen.tsx
  config/digitalocean-apps.json
  docs/deployment.md
  lib/deploymentSkew.ts
  lib/env.ts
  lib/writingDraft.ts
  middleware.ts
  next.config.ts
  tests/app/api/health.test.ts
  tests/components/CanaryClientObserver.test.tsx
  tests/components/DeploymentSkewObserver.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/lib/env.test.ts
  tests/middleware.test.ts
  tests/next-config.test.ts
Due: lint, format

fix: harden deployment skew recovery
  app/layout.tsx
  components/DeploymentSkewObserver.tsx
  lib/deploymentId.ts
  middleware.ts
  next.config.ts
  tests/components/DeploymentSkewObserver.test.tsx
  tests/middleware.test.ts
  tests/next-config.test.ts
Due: lint, format

fix: isolate deployment polling from readiness
  app/api/deployment/route.ts
  app/api/health/route.ts
  components/DeploymentSkewObserver.tsx
  lib/env.ts
  lib/serverActionEncryptionKey.ts
  tests/app/api/deployment.test.ts
  tests/app/api/health.test.ts
  tests/components/DeploymentSkewObserver.test.tsx
Due: lint, format

fix: load skew validation during config build
  lib/env.ts
Due: lint, format

fix: recover stale clients across production deploys (#353)
  .env.example
  AGENTS.md
  app/api/deployment/route.ts
  app/api/health/route.ts
  app/layout.tsx
  app/providers.tsx
  components/CanaryClientObserver.tsx
  components/DeploymentSkewObserver.tsx
  components/WritingScreen.tsx
  config/digitalocean-apps.json
  docs/deployment.md
  lib/deploymentId.ts
  lib/deploymentSkew.ts
  lib/env.ts
  lib/serverActionEncryptionKey.ts
  lib/writingDraft.ts
  middleware.ts
  next.config.ts
  tests/app/api/deployment.test.ts
  tests/app/api/health.test.ts
  tests/components/CanaryClientObserver.test.tsx
  tests/components/DeploymentSkewObserver.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/lib/env.test.ts
  tests/middleware.test.ts
  tests/next-config.test.ts
Due: lint, format

chore(release): 0.19.2 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  399fe43ec363f6e0effc389da3ff580d7810b582
Due: none

test: add rolling deployment recovery oracle
  docs/deployment.md
  package.json
  scripts/qa/deployment-skew-oracle.mjs
Due: format

test: keep rollout oracle inside game floor
  docs/deployment.md
  scripts/qa/deployment-skew-oracle.mjs
Due: format

test: add rolling deployment recovery oracle (#354)
  docs/deployment.md
  package.json
  scripts/qa/deployment-skew-oracle.mjs
Due: format

fix: make mobile entry flows viewport safe
  app/(auth)/layout.tsx
  app/(auth)/sign-in/[[...sign-in]]/page.tsx
  app/(auth)/sign-up/[[...sign-up]]/page.tsx
  app/join/page.tsx
  components/Header.tsx
  lib/clerk/appearance.ts
  tests/app/mobile-entry-layout.test.tsx
  tests/e2e/mobile-entry-viewport.spec.ts
  tests/lib/clerk/appearance.test.ts
Due: lint, format

test: cover mobile header interactions
  tests/app/mobile-entry-layout.test.tsx
Due: lint, format

fix: make mobile entry flows viewport safe (#355)
  app/(auth)/layout.tsx
  app/(auth)/sign-in/[[...sign-in]]/page.tsx
  app/(auth)/sign-up/[[...sign-up]]/page.tsx
  app/join/page.tsx
  components/Header.tsx
  lib/clerk/appearance.ts
  tests/app/mobile-entry-layout.test.tsx
  tests/e2e/mobile-entry-viewport.spec.ts
  tests/lib/clerk/appearance.test.ts
Due: lint, format

chore(release): 0.19.3 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  521cc16eab78b0b2ddfde12a84f382c229306120
Due: none

fix(mobile): own the visual game viewport
  app/globals.css
  app/host/page.tsx
  app/layout.tsx
  app/providers.tsx
  app/room/[code]/page.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/RoomChrome.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  components/stage/LobbyStage.tsx
  components/stage/RevealStage.tsx
  components/stage/StageShell.tsx
  hooks/useVisualViewport.ts
  lib/e2eTestIds.ts
  lib/routes.ts
  tests/components/Lobby.test.tsx
  tests/components/WaitingScreen.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/e2e/game-mobile-viewport.spec.ts
  tests/hooks/useVisualViewport.test.ts
  tests/lib/e2eTestIds.test.ts
  tests/lib/gameViewportCss.test.ts
  tests/lib/routes.test.ts
Due: lint, format

fix(mobile): pin presentation exit controls
  components/stage/StageShell.tsx
  tests/components/LobbyStage.test.tsx
Due: lint, format

fix(mobile): let action trays shrink within viewport
  app/host/page.tsx
  components/Lobby.tsx
  components/WritingScreen.tsx
  tests/components/Lobby.test.tsx
  tests/components/WritingScreen.test.tsx
Due: lint, format

fix(mobile): keep controls inside safe viewport
  app/globals.css
  app/host/page.tsx
  app/room/[code]/page.tsx
  components/Lobby.tsx
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
  components/RoomChrome.tsx
  components/WritingScreen.tsx
  tests/app/room-page.test.tsx
  tests/components/Lobby.test.tsx
  tests/components/PoemDisplay.test.tsx
  tests/components/RoomChrome.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/e2e/game-mobile-viewport.spec.ts
Due: lint, format

fix(mobile): compact room controls at large text
  components/RoomChrome.tsx
  components/WritingScreen.tsx
  tests/components/RoomChrome.test.tsx
  tests/components/WritingScreen.test.tsx
Due: lint, format

test(mobile): cover compact game chrome at 320px
  components/RoomChrome.tsx
  tests/components/RoomChrome.test.tsx
  tests/e2e/game-mobile-viewport.spec.ts
Due: lint, format

test(mobile): measure painted writing content
  tests/e2e/game-mobile-viewport.spec.ts
Due: lint, format

fix(mobile): preserve submit tray at large text
  components/WritingScreen.tsx
  tests/components/WritingScreen.test.tsx
Due: lint, format

fix(mobile): close waiting viewport gaps
  components/RevealPhase.tsx
  components/RoomChrome.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  tests/components/WritingScreen.test.tsx
  tests/e2e/game-mobile-viewport.spec.ts
Due: lint, format

test(mobile): keep reload timers live
  tests/e2e/game-mobile-viewport.spec.ts
Due: lint, format

fix(mobile): contain scaled lobby controls
  app/host/page.tsx
  components/Lobby.tsx
  components/ui/Input.tsx
  tests/components/Input.test.tsx
  tests/components/Lobby.test.tsx
Due: lint, format

fix(mobile): let scaled lobby actions grow
  components/Lobby.tsx
  tests/components/Lobby.test.tsx
  tests/e2e/game-mobile-viewport.spec.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md,css}
