Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix: logShare throws ConvexError on invalid poem ID instead of silent return (#164)
  convex/shares.ts
Due: lint, format

feat: add PostHog product analytics + harden Sentry privacy
  .env.example
  app/providers.tsx
  lib/posthog/PostHogPageview.tsx
  lib/posthog/PostHogProvider.tsx
  lib/sentry.ts
  middleware.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

fix(test): update shares test to match ConvexError behavior
  tests/convex/shares.test.ts
Due: lint, format

chore: groom
  .groom/plan-2026-02-23.md
  project.md
Due: format

chore: fix tests
  tests/convex/shares.test.ts
Due: lint, format

fix(ci): add CI rollup job to satisfy branch protection check
  .github/workflows/ci.yml
Due: none

fix(analytics): address PostHog review feedback
  lib/posthog/PostHogPageview.tsx
  lib/posthog/PostHogProvider.tsx
  middleware.ts
Due: lint, format

fix: address posthog review feedback
  lib/posthog/PostHogPageview.tsx
  lib/posthog/PostHogProvider.tsx
  lib/posthog/posthogReady.ts
Due: lint, format

chore: polish observability integration
  .env.example
  next.config.ts
  package.json
  pnpm-lock.yaml
  tests/lib/sentry.test.ts
Due: lint, format

feat: add PostHog analytics + harden Sentry privacy (#165)
  .env.example
  .github/workflows/ci.yml
  app/providers.tsx
  lib/posthog/PostHogPageview.tsx
  lib/posthog/PostHogProvider.tsx
  lib/posthog/posthogReady.ts
  lib/sentry.ts
  middleware.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  tests/lib/sentry.test.ts
Due: lint, format

ci: standardize Cerberus workflow to default @master template
  .github/workflows/cerberus.yml
Due: none

ci: use CERBERUS_OPENROUTER_API_KEY for Cerberus workflow
  .github/workflows/cerberus.yml
Due: none

ci: normalize required merge gate
  .github/workflows/ci.yml
Due: none

feat: improve quality gates, robustness, and test coverage
  .github/workflows/ci.yml
  convex/lib/rateLimit.ts
  convex/rooms.ts
  eslint.config.mjs
  lefthook.yml
  tests/convex/rateLimit.test.ts
  tests/convex/rooms.test.ts
Due: lint, format

fix(ci): revert gitleaks to CLI approach to fix Quality Gates
  .github/workflows/ci.yml
Due: none

fix: address review feedback — ConvexError for client-facing errors, enforce no-console
  convex/rooms.ts
  eslint.config.mjs
Due: lint, format

fix(ci): format convex/rooms.ts to pass prettier check
  convex/rooms.ts
Due: lint, format

fix(ci): rename CI rollup job to merge-gate to match branch protection
  .github/workflows/ci.yml
Due: none

feat: improve quality gates, robustness, and test coverage (#192)
  .github/workflows/ci.yml
  convex/lib/rateLimit.ts
  convex/rooms.ts
  eslint.config.mjs
  lefthook.yml
  tests/convex/rateLimit.test.ts
  tests/convex/rooms.test.ts
Due: lint, format

fix: wire canary observability
  .env.example
  app/api/health/route.ts
  app/error.tsx
  app/global-error.tsx
  instrumentation.ts
  lib/canary.ts
  lib/error.ts
  tests/lib/error.test.ts
Due: lint, format

fix: harden canary reporting
  app/api/health/route.ts
  lib/canary.ts
  tests/app/api/health.test.ts
  tests/lib/canary.test.ts
Due: lint, format

fix: settle canary observability feedback
  app/error.tsx
  app/global-error.tsx
  instrumentation.ts
  lib/canary.ts
  lib/error.ts
  tests/app/api/health.test.ts
  tests/instrumentation.test.ts
  tests/lib/canary.test.ts
  tests/lib/error.test.ts
Due: lint, format

[codex] wire canary observability (#194)
  .env.example
  app/api/health/route.ts
  app/error.tsx
  app/global-error.tsx
  instrumentation.ts
  lib/canary.ts
  lib/error.ts
  tests/app/api/health.test.ts
  tests/instrumentation.test.ts
  tests/lib/canary.test.ts
  tests/lib/error.test.ts
Due: lint, format

fix(ci): settle trufflehog workflow
  .github/workflows/trufflehog.yml
Due: none

fix(ci): settle trufflehog workflow (#181)
  .github/workflows/trufflehog.yml
Due: none

fix(ci): pin trufflehog scanner version
  .github/workflows/trufflehog.yml
Due: none

fix(ci): use published trufflehog image tag
  .github/workflows/trufflehog.yml
Due: none

fix(ci): pin trufflehog scanner version (#195)
  .github/workflows/trufflehog.yml
Due: none

chore(deps): refresh next 16.1.7 on current master
  package.json
  pnpm-lock.yaml
Due: format

chore(deps-dev): refresh happy-dom 20.8.8 on current master
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): pin picomatch 2.3.2 via pnpm override
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: harden room flow handoffs
  app/room/[code]/page.tsx
  components/PoemDisplay.tsx
  components/RoomChrome.tsx
  components/WritingScreen.tsx
  convex/rooms.ts
  hooks/useShareLink.ts
  hooks/useSharePoem.ts
  lib/analytics.ts
  tests/components/PoemDisplay.test.tsx
  tests/components/RoomChrome.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/convex/rooms.test.ts
  tests/hooks/useSharePoem.test.ts
Due: lint, format

fix: settle room flow PR
  app/room/[code]/page.tsx
  components/WritingScreen.tsx
  convex/lib/room.ts
  convex/rooms.ts
  hooks/useSharePoem.ts
  tests/components/RoomChrome.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/convex/rooms.test.ts
  tests/hooks/useShareLink.test.ts
Due: lint, format

fix: preserve lobby reset in room state
  convex/lib/room.ts
  convex/rooms.ts
  tests/convex/roomLifecycle.test.ts
  tests/convex/rooms.test.ts
Due: lint, format

[codex] harden room flow handoffs (#196)
  app/room/[code]/page.tsx
  components/PoemDisplay.tsx
  components/RoomChrome.tsx
  components/WritingScreen.tsx
  convex/lib/room.ts
  convex/rooms.ts
  hooks/useShareLink.ts
  hooks/useSharePoem.ts
  lib/analytics.ts
  tests/components/PoemDisplay.test.tsx
  tests/components/RoomChrome.test.tsx
  tests/components/WritingScreen.test.tsx
  tests/convex/roomLifecycle.test.ts
  tests/convex/rooms.test.ts
  tests/hooks/useShareLink.test.ts
  tests/hooks/useSharePoem.test.ts
Due: lint, format

chore: remove Cerberus workflow
  .github/workflows/cerberus.yml
Due: none

fix(auth): harden guest room flow and seed backlog
  app/(auth)/callback/page.tsx
  app/room/[code]/page.tsx
  backlog.d/002-extract-session-transition-core.md
  backlog.d/003-bootstrap-local-dev-loop.md
  backlog.d/004-establish-release-governance-baseline.md
  backlog.d/005-add-request-telemetry-for-room-flows.md
  backlog.d/006-build-post-reveal-session-hub.md
  backlog.d/README.md
  backlog.d/_done/000-establish-backlog-operating-system.md
  backlog.d/_done/001-harden-guest-first-room-flow.md
  lib/auth.ts
  scripts/lib/claims.sh
  tests/app/auth-callback-page.test.tsx
  tests/app/room-page.test.tsx
  tests/lib/auth.test.ts
Due: lint, format

fix(auth): preserve guest session on bootstrap failure
  .groom/review-scores.ndjson
  lib/auth.ts
  tests/app/room-page.test.tsx
  tests/lib/auth.test.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md,css}
