Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    secrets:
      run: gitleaks protect --staged --redact --no-banner --config .gitleaks.toml
      fail_text: |
        ⚠️  Secret detected in staged files!

        Install gitleaks: brew install gitleaks

        To suppress false positives, add to .gitleaks.toml allowlist section.
        See docs/secrets.md or README for details.

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm vitest run

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

docs(backlog): refresh north star and reconcile backlog from strategic groom
  AGENTS.md
  backlog.d/020-launch-gate-hardening.md
  backlog.d/021-launch-read-path-and-resilience.md
  backlog.d/022-e2e-selector-contract-and-smoke-gate.md
  backlog.d/023-reveal-ceremony-and-shareable-artifact.md
  backlog.d/024-zero-friction-join-and-onboarding.md
  backlog.d/025-make-the-design-system-real.md
  backlog.d/026-doc-truth-and-runbook-sweep.md
  backlog.d/027-collapse-dual-analytics-surface.md
  project.md
Due: format

docs(backlog): refresh north star + reconcile backlog from strategic groom (#279)
  AGENTS.md
  backlog.d/020-launch-gate-hardening.md
  backlog.d/021-launch-read-path-and-resilience.md
  backlog.d/022-e2e-selector-contract-and-smoke-gate.md
  backlog.d/023-reveal-ceremony-and-shareable-artifact.md
  backlog.d/024-zero-friction-join-and-onboarding.md
  backlog.d/025-make-the-design-system-real.md
  backlog.d/026-doc-truth-and-runbook-sweep.md
  backlog.d/027-collapse-dual-analytics-surface.md
  project.md
Due: format

docs(backlog): add 028 bot-player redesign packet
  backlog.d/028-bot-player-redesign.md
Due: format

feat(ai): multi-bot solo play with evidence-backed config (028 milestone 1)
  components/Lobby.tsx
  convex/abandonment.ts
  convex/ai.ts
  convex/lib/ai/fallbacks.ts
  convex/lib/ai/personas.ts
  convex/lib/ai/providers/openrouter.ts
  tests/components/Lobby.test.tsx
  tests/convex/abandonment.test.ts
  tests/convex/aiLifecycle.test.ts
  tests/lib/ai/fallbacks.test.ts
  tests/lib/ai/llm.test.ts
Due: lint, format

refactor(ai): address thermo-nuclear review of 028 m1
  backlog.d/028-bot-player-redesign.md
  convex/abandonment.ts
  convex/ai.ts
  convex/lib/ai/fallbacks.ts
  convex/lib/ai/llm.ts
Due: lint, format

feat(ai): finish bot budget and prompt hardening
  .gitignore
  backlog.d/028-bot-player-redesign.md
  components/Lobby.tsx
  convex/abandonment.ts
  convex/ai.ts
  convex/lib/ai/llm.ts
  convex/lib/ai/providers/openrouter.ts
  convex/lib/ai/providers/types.ts
  convex/lib/ai/wordCountGuard.ts
  convex/schema.ts
  docs/deployment.md
  tests/components/Lobby.test.tsx
  tests/convex/aiLifecycle.test.ts
  tests/lib/ai/llm.test.ts
Due: lint, format

feat(ai): multi-bot solo play + evidence-backed config (028 m1) (#280)
  .gitignore
  backlog.d/028-bot-player-redesign.md
  components/Lobby.tsx
  convex/abandonment.ts
  convex/ai.ts
  convex/lib/ai/fallbacks.ts
  convex/lib/ai/llm.ts
  convex/lib/ai/personas.ts
  convex/lib/ai/providers/openrouter.ts
  convex/lib/ai/providers/types.ts
  convex/lib/ai/wordCountGuard.ts
  convex/schema.ts
  docs/deployment.md
  tests/components/Lobby.test.tsx
  tests/convex/abandonment.test.ts
  tests/convex/aiLifecycle.test.ts
  tests/lib/ai/fallbacks.test.ts
  tests/lib/ai/llm.test.ts
Due: lint, format

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  24ed0021f88c87fb4c97c6e15768b8e14a284edf
Due: none

chore(ci): expose fast host gate
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  docs/deployment.md
  docs/testing.md
  package.json
  scripts/ci/dagger-call.sh
  tests/scripts/dagger-call.test.ts
Due: lint, format

chore(ci): expose fast host gate (#281)
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  docs/deployment.md
  docs/testing.md
  package.json
  scripts/ci/dagger-call.sh
  tests/scripts/dagger-call.test.ts
Due: lint, format

docs: add Linejam vision
  VISION.md
Due: format

docs: wire Linejam vision direction
  AGENTS.md
  backlog.d/029-adopt-misty-step-comic-ops-aesthetic.md
Due: format

chore(harness): merge AGENTS.md/CLAUDE.md, symlink CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: format

feat(observability): wire Convex backend failures to Canary
  convex/_generated/api.d.ts
  convex/abandonment.ts
  convex/ai.ts
  convex/errors.ts
  convex/lib/canary.ts
  tests/convex/lib/canary.test.ts
Due: lint, format

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  6da65e7d3d1a0b427b7c9c95e949731636730e00
Due: none

feat(ux): tap-to-copy room code, QR scan-to-join, one-tap help, fix submit error
  components/RoomChrome.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  package.json
  pnpm-lock.yaml
  tests/components/RoomChrome.test.tsx
  tests/components/WritingScreen.test.tsx
Due: lint, format

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  8df26080d3d0637ef046f06fd87ac4e13c2dae47
Due: none

feat(observability): report canary health check-ins
  app/api/health/route.ts
  lib/canaryCore.ts
  lib/canaryServer.ts
  tests/app/api/health.test.ts
  tests/app/poem-detail.test.tsx
  tests/e2e/support/guestFlow.ts
  tests/lib/canary.test.ts
  tests/lib/canaryServer.test.ts
  tests/lib/logger.test.ts
Due: lint, format

feat(observability): report canary health check-ins (#289)
  app/api/health/route.ts
  lib/canaryCore.ts
  lib/canaryServer.ts
  tests/app/api/health.test.ts
  tests/app/poem-detail.test.tsx
  tests/e2e/support/guestFlow.ts
  tests/lib/canary.test.ts
  tests/lib/canaryServer.test.ts
  tests/lib/logger.test.ts
Due: lint, format

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  518b66d4f6a0023d19f03f0cb82adfda15474c76
Due: none

chore(factory): add Canary integration receipt
  .canary/integration.json
Due: format

chore(factory): add Canary integration receipt (#290)
  .canary/integration.json
Due: format

feat(ops): monitor production health
  .github/workflows/health-monitor.yml
  scripts/ops/check-health.mjs
  tests/scripts/check-health.test.js
Due: lint, format

feat(security): extend guest abuse rate limits
  convex/ai.ts
  convex/game.ts
  convex/lib/abuseRateLimit.ts
  convex/rooms.ts
  tests/convex/aiLifecycle.test.ts
  tests/convex/game.test.ts
  tests/convex/rooms.test.ts
Due: lint, format

feat(security): set launch security headers
  next.config.ts
  tests/next-config.test.ts
Due: lint, format

feat(security): sweep expired rate limits
  convex/_generated/api.d.ts
  convex/crons.ts
  convex/rateLimits.ts
  tests/convex/rateLimit.test.ts
Due: lint, format

feat(security): cap guest minting and ai spend
  app/api/guest/session/route.ts
  convex/_generated/api.d.ts
  convex/ai.ts
  convex/guestSessions.ts
  convex/lib/guestToken.ts
  convex/lib/rateLimit.ts
  convex/schema.ts
  lib/guestToken.ts
  tests/app/api/guest-session.test.ts
  tests/convex/aiLifecycle.test.ts
Due: lint, format

feat(security): stop persisting guest tokens
  app/(auth)/callback/page.tsx
  app/api/guest/session/route.ts
  lib/guestSession.ts
  tests/app/api/guest-session.test.ts
  tests/app/auth-callback-page.test.tsx
  tests/lib/auth.test.ts
  tests/lib/guestSession.test.ts
Due: lint, format

test(security): isolate guest throttle checks in ci
  .github/workflows/ci.yml
  tests/app/api/guest-session.test.ts
Due: lint, format

test(security): cover launch gate ci evidence
  tests/app/api/guest-session.test.ts
  tests/e2e/support/guestFlow.ts
  tests/scripts/check-health.test.js
  tests/scripts/guest-flow-evidence.test.ts
Due: lint, format

test(security): cover launch throttle failure edges
  scripts/ops/check-health.mjs
  tests/app/api/guest-session.test.ts
  tests/scripts/check-health.test.js
Due: lint, format

fix(security): pass guest throttle bypass to e2e
  dagger/src/index.ts
  scripts/ci/dagger-call.sh
  tests/scripts/dagger-call.test.ts
Due: lint, format

test(security): isolate dagger e2e wrapper env
  tests/scripts/dagger-call.test.ts
Due: lint, format

feat(security): harden launch exposure gates (#291)
  .github/workflows/ci.yml
  .github/workflows/health-monitor.yml
  app/(auth)/callback/page.tsx
  app/api/guest/session/route.ts
  convex/_generated/api.d.ts
  convex/ai.ts
  convex/crons.ts
  convex/game.ts
  convex/guestSessions.ts
  convex/lib/abuseRateLimit.ts
  convex/lib/guestToken.ts
  convex/lib/rateLimit.ts
  convex/rateLimits.ts
  convex/rooms.ts
  convex/schema.ts
  dagger/src/index.ts
  lib/guestSession.ts
  lib/guestToken.ts
  next.config.ts
  scripts/ci/dagger-call.sh
  scripts/ops/check-health.mjs
  tests/app/api/guest-session.test.ts
  tests/app/auth-callback-page.test.tsx
  tests/convex/aiLifecycle.test.ts
  tests/convex/game.test.ts
  tests/convex/rateLimit.test.ts
  tests/convex/rooms.test.ts
  tests/e2e/support/guestFlow.ts
  tests/lib/auth.test.ts
  tests/lib/guestSession.test.ts
  tests/next-config.test.ts
  tests/scripts/check-health.test.js
  tests/scripts/dagger-call.test.ts
  tests/scripts/guest-flow-evidence.test.ts
Due: lint, format

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  e4c8b474365e7c6ad84a7440801fc4ef69dce1dc
Due: none
