Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(mobile): pass the thumb test on every game surface
  app/join/page.tsx
  components/Header.tsx
  components/PoemDisplay.tsx
  components/WritingScreen.tsx
  tests/components/PoemDisplay.test.tsx
Due: lint, format

chore(backlog): archive shipped ticket 014
  backlog.d/_done/014-mobile-thumb-test.md
Due: format

test: cover new ceremony, clock, and rescue branches
  tests/components/HeartButton.test.tsx
  tests/components/PoemDisplay.test.tsx
  tests/components/RoundClock.test.tsx
  tests/convex/aiLifecycle.test.ts
Due: lint, format

feat(design): make @misty-step/aesthetic the substrate
  .gitignore
  app/globals.css
  app/layout.tsx
  docs/adoption/PR_BODY.md
  docs/adoption/before-home-dark.png
  docs/adoption/before-home-light.png
  lib/themes/index.ts
  lib/themes/presets/aesthetic.ts
  lib/themes/presets/kenya.ts
  lib/themes/registry.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

fix(security): force esbuild >=0.28.1 to clear GHSA-gv7w-rqvm-qjhr
  package.json
  pnpm-lock.yaml
Due: format

test(ai): cover ghostwriter and AI-turn action fallback paths
  tests/convex/aiLifecycle.test.ts
Due: lint, format

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  24f25eb6a2f78ffe4aae696198353207ddebe0e6
Due: none

feat(backlog,vision): add 016 reliability epic and canonical vision
  backlog.d/016-never-let-the-room-die.md
  docs/vision.md
Due: format

feat(game): presence heartbeats and auto ghost-fill
  app/room/[code]/page.tsx
  backlog.d/016-never-let-the-room-die.md
  components/Lobby.tsx
  components/WaitingScreen.tsx
  convex/_generated/api.d.ts
  convex/game.ts
  convex/lib/gameRules.ts
  convex/lib/sessionLifecycle.ts
  convex/presence.ts
  convex/rooms.ts
  convex/schema.ts
  hooks/usePresence.ts
  tests/app/room-page.test.tsx
  tests/convex/fillStaleHumanTurns.test.ts
  tests/convex/lib/sessionLifecycle.test.ts
  tests/convex/presence.test.ts
  tests/convex/rooms.test.ts
Due: lint, format

test(convex): unblock convex-test with a real scheduler/DB harness
  tests/convex/game-convex-test-example.test.ts
  tests/helpers/convexTest.ts
Due: lint, format

refactor(presence): extract isPresenceStale shared predicate
  convex/game.ts
  convex/lib/gameRules.ts
  convex/presence.ts
  convex/rooms.ts
  tests/convex/gameRules.test.ts
Due: lint, format

feat(game): abandonment cron to self-heal stranded rooms
  convex/_generated/api.d.ts
  convex/abandonment.ts
  convex/ai.ts
  convex/crons.ts
  convex/schema.ts
Due: lint, format

test(game): cover room self-heal on real scheduler/DB + e2e leaver
  package.json
  tests/convex/abandonment.test.ts
  tests/e2e/mid-game-leaver.spec.ts
Due: lint, format

docs(backlog): record 016 children 3-5 delivery; file 017/018
  CLAUDE.md
  backlog.d/016-never-let-the-room-die.md
  backlog.d/017-host-migration.md
  backlog.d/018-convex-test-migration.md
Due: format

fix(game): harden abandonment sweep per fresh-context review
  convex/abandonment.ts
  tests/convex/abandonment.test.ts
Due: lint, format

fix(game): re-derive abandonment in finisher + hard-deadline liveness backstop
  convex/abandonment.ts
  convex/lib/gameRules.ts
  tests/convex/abandonment.test.ts
Due: lint, format

fix(presence): stop broadcasting lastSeenAt; drop dead getRoomPresence; fix guest first beat
  convex/presence.ts
  convex/rooms.ts
  hooks/usePresence.ts
  tests/convex/fillStaleHumanTurns.test.ts
  tests/convex/presence.test.ts
Due: lint, format

chore(deps): clear HIGH osv advisories (form-data, vite, undici, ws, hono, dompurify)
  package.json
  pnpm-lock.yaml
Due: format

fix(game): scan all abandoned games; exclude present-attended rooms
  convex/abandonment.ts
  tests/convex/abandonment.test.ts
Due: lint, format

fix(game): idle-age-indexed sweep scan (bounded, no starvation)
  convex/abandonment.ts
  convex/schema.ts
  tests/convex/abandonment.test.ts
Due: lint, format

fix(game): drop sweep batch cap; idle-filtered scan is self-bounding
  convex/abandonment.ts
  tests/convex/abandonment.test.ts
Due: lint, format

chore(ci): tier pre-push to fast checks; merge-gate owns the full contract
  CLAUDE.md
  lefthook.yml
  package.json
Due: format

feat(game): never let the room die — presence, self-heal, abandonment cron (016) (#264)
  CLAUDE.md
  app/room/[code]/page.tsx
  backlog.d/016-never-let-the-room-die.md
  backlog.d/017-host-migration.md
  backlog.d/018-convex-test-migration.md
  components/Lobby.tsx
  components/WaitingScreen.tsx
  convex/_generated/api.d.ts
  convex/abandonment.ts
  convex/ai.ts
  convex/crons.ts
  convex/game.ts
  convex/lib/gameRules.ts
  convex/lib/sessionLifecycle.ts
  convex/presence.ts
  convex/rooms.ts
  convex/schema.ts
  docs/vision.md
  hooks/usePresence.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  tests/app/room-page.test.tsx
  tests/convex/abandonment.test.ts
  tests/convex/fillStaleHumanTurns.test.ts
  tests/convex/game-convex-test-example.test.ts
  tests/convex/gameRules.test.ts
  tests/convex/lib/sessionLifecycle.test.ts
  tests/convex/presence.test.ts
  tests/convex/rooms.test.ts
  tests/e2e/mid-game-leaver.spec.ts
  tests/helpers/convexTest.ts
Due: lint, format

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  b732422e03052a4bc693e33c6e7a90d98a0c6552
Due: none

chore(deps): override postcss to ^8.5.10 (clears GHSA-qx2v-qp2m-jg93)
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): override postcss to ^8.5.10 (clears GHSA-qx2v-qp2m-jg93) (#267)
  package.json
  pnpm-lock.yaml
Due: format

docs(backlog): archive 016 (never let the room die) as done
  backlog.d/_done/016-never-let-the-room-die.md
Due: format

test(convex): migrate shares suite to convex-test (018)
  tests/convex/shares.test.ts
Due: lint, format

test(convex): migrate favorites suite to convex-test (018)
  tests/convex/favorites.test.ts
Due: lint, format

test(convex): migrate presence suite to convex-test (018)
  tests/convex/presence.test.ts
Due: lint, format

test(convex): migrate rateLimit suite to convex-test (018)
  tests/convex/rateLimit.test.ts
Due: lint, format

test(convex): migrate users suite to convex-test (018)
  tests/convex/users.test.ts
Due: lint, format

test(convex): migrate migrations suite to convex-test (018)
  tests/convex/migrations.test.ts
Due: lint, format

test(convex): migrate fillStaleHumanTurns suite to convex-test (018)
  tests/convex/fillStaleHumanTurns.test.ts
Due: lint, format

test(convex): migrate roomLifecycle suite to convex-test (018)
  tests/convex/roomLifecycle.test.ts
Due: lint, format

test(convex): migrate lib/auth suite to convex-test (018)
  tests/convex/lib/auth.test.ts
Due: lint, format

test(convex): migrate http suite to convex-test (018)
  tests/convex/http.test.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md,css}
