Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat(auth): migrate Clerk from v6 to v7 (#376)
  app/poem/[id]/card/route.ts
  components/Header.tsx
  lib/clerk/appearance.ts
  package.json
  pnpm-lock.yaml
  tests/app/api/poem-card-route.test.ts
  tests/app/mobile-entry-layout.test.tsx
  tests/lib/clerk-appearance.test.ts
Due: lint, format

feat(themes): enforce WCAG AA contrast across every registered theme (#377)
  app/globals.css
  components/Lobby.tsx
  components/PoemDisplay.tsx
  lib/themes/index.ts
  lib/themes/presets/aloud.ts
  lib/themes/presets/board.ts
  lib/themes/presets/broadside.ts
  lib/themes/presets/catalog.ts
  lib/themes/presets/console.ts
  lib/themes/presets/fold.ts
  lib/themes/presets/hyper.ts
  lib/themes/presets/kenya.ts
  lib/themes/presets/mono.ts
  lib/themes/presets/overprint.ts
  lib/themes/presets/seats.ts
  lib/themes/presets/vintage-paper.ts
  lib/themes/schema.ts
  lib/themes/types.ts
  tests/components/Lobby.test.tsx
  tests/components/PoemDisplay.test.tsx
  tests/lib/poemCard/colors.test.ts
  tests/lib/themeContrast.test.ts
Due: lint, format

chore(release): 0.25.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  5dea47994ae55c9f68b618e2b3fd392560bdb532
Due: none

fix(deps): clear dependabot alerts
  package.json
  pnpm-lock.yaml
Due: format

feat(ops): scheduled encrypted Convex backups with provable restore
  .github/workflows/convex-backup.yml
  docs/deployment.md
  scripts/ops/restore-convex-backup.sh
Due: format

fix(deps): clear dependabot alerts (#380)
  package.json
  pnpm-lock.yaml
Due: format

chore(release): 0.25.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  20a60c882e21f9ab21906b415813e99ac62cd2f0
Due: none

feat(ops): scheduled encrypted Convex backups with provable restore (#381)
  .github/workflows/convex-backup.yml
  docs/deployment.md
  scripts/ops/restore-convex-backup.sh
Due: format

chore(release): 0.26.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  9cd264a45587623b24999e7532e5022c260e04c8
Due: none

docs(ops): document provider-level rollback with measured drill RTO
  docs/deployment.md
Due: format

docs(ops): document provider-level rollback with measured drill RTO (#383)
  docs/deployment.md
Due: format

feat(lobby): ship status board room frame
  app/room/[code]/page.tsx
  components/Lobby.tsx
  components/RoomChrome.tsx
  tests/components/Lobby.test.tsx
  tests/components/RoomChrome.test.tsx
Due: lint, format

fix(repo): invoke local commitlint in hook
  lefthook.yml
Due: none

chore(convex): refresh generated api bindings
  convex/_generated/api.d.ts
Due: lint, format

chore(rescue): preserve Status Board evidence lab
  artifacts/linejam-985/guest-mobile-375x667-final-closed.png
  artifacts/linejam-985/guest-mobile-375x667-final.png
  artifacts/linejam-985/guest-mobile-375x667.png
  artifacts/linejam-985/lobby-desktop-1280x800-clean.png
  artifacts/linejam-985/lobby-desktop-1280x800-final.png
  artifacts/linejam-985/lobby-desktop-1440.png
  artifacts/linejam-985/lobby-mobile-375x667-clean.png
  artifacts/linejam-985/lobby-mobile-375x667.png
  explorations/lab-002/app.js
  explorations/lab-002/frame.css
  explorations/lab-002/frame.html
  explorations/lab-002/frame.js
  explorations/lab-002/index.html
  explorations/lab-002/lanes/baseline.js
  explorations/lab-002/lanes/brut.js
  explorations/lab-002/lanes/dammy.js
  explorations/lab-002/lanes/min.js
  explorations/lab-002/lanes/redesign.js
  explorations/lab-002/lanes/swiss.js
  explorations/lab-002/lanes/taste.js
  explorations/lab-002/styles.css
Due: lint, format

chore(backlog): retire backlog queue
  backlog.d/016-never-let-the-room-die.md
  backlog.d/017-host-migration.md
  backlog.d/018-convex-test-migration.md
  backlog.d/README.md
  backlog.d/_done/000-establish-backlog-operating-system.md
  backlog.d/_done/001-harden-guest-first-room-flow.md
  backlog.d/_done/002-extract-session-transition-core.md
  backlog.d/_done/003-bootstrap-local-dev-loop.md
  backlog.d/_done/004-establish-release-governance-baseline.md
  backlog.d/_done/005-add-request-telemetry-for-room-flows.md
  backlog.d/_done/006-build-post-reveal-session-hub.md
  backlog.d/_done/007-establish-stagehand-agentic-qa-harness.md
  backlog.d/_done/008-govern-evidence-and-smoke-artifacts.md
  backlog.d/_done/009-make-sharing-privacy-explicit.md
  backlog.d/_done/010-game-modes-platform.md
  backlog.d/_done/011-realtime-resilience.md
  backlog.d/_done/012-drama-pass.md
  backlog.d/_done/013-reveal-celebration.md
  backlog.d/_done/014-mobile-thumb-test.md
  backlog.d/_done/015-repo-hygiene-doc-truth.md
Due: format

feat(stage): expose revealed poem presentation data
  convex/game.ts
  lib/e2eTestIds.ts
  tests/lib/e2eTestIds.test.ts
Due: lint, format

chore(release): 0.27.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  70c68b78b8625ad61a9afa8beb775bcae31638e7
Due: none

Import organization root context into AGENTS.md
  AGENTS.md
Due: format

docs: make GitHub Issues the work authority
  AGENTS.md
  CONTRIBUTING.md
  README.md
  VISION.md
  docs/deployment.md
  project.md
Due: format

fix: harden Sentry monitoring contracts
  config/convex-env-manifest.json
  convex/ai.ts
  convex/crons.ts
  convex/sentryGithub.ts
  tests/convex/aiLifecycle.test.ts
  tests/convex/envValidation.test.ts
  tests/convex/sentryGithub.test.ts
Due: lint, format

fix: drop untrusted correlation context
  lib/sentryPrivacy.ts
  tests/lib/sentryPrivacy.test.ts
Due: lint, format

fix: remediate security audit advisories
  package.json
  pnpm-lock.yaml
  tests/app/api/guest-session.test.ts
Due: lint, format

fix: preserve mobile layout at text zoom
  components/Lobby.tsx
  components/RoomChrome.tsx
  tests/components/RoomChrome.test.tsx
  tests/e2e/game-mobile-viewport.spec.ts
Due: lint, format

fix: remediate security audit advisories (#414)
  components/Lobby.tsx
  components/RoomChrome.tsx
  package.json
  pnpm-lock.yaml
  tests/app/api/guest-session.test.ts
  tests/components/RoomChrome.test.tsx
  tests/e2e/game-mobile-viewport.spec.ts
Due: lint, format

fix: preserve safe Sentry symbolication metadata
  docs/ops/observability-ci.md
  lib/sentryPrivacy.ts
  tests/lib/sentryPrivacy.test.ts
Due: lint, format

fix: attribute smoke failures to deployed release
  .env.example
  .github/workflows/preview-smoke.yml
  .github/workflows/prod-smoke.yml
  scripts/ci/bootstrap-convex-env.mjs
  scripts/ops/report-sentry-check-in.mjs
  scripts/ops/resolve-sentry-release.mjs
  sentry.runtime.mjs
  tests/lib/sentryRuntime.test.ts
  tests/scripts/report-sentry-check-in.test.ts
  tests/scripts/resolve-sentry-release.test.ts
Due: lint, format

fix: isolate Sentry CI telemetry
  dagger/src/index.ts
  lib/sentryPrivacy.ts
  tests/e2e/support/guestFlow.ts
  tests/lib/sentryPrivacy.test.ts
Due: lint, format

fix: harden Sentry release and privacy gates
  .github/workflows/ci.yml
  app/api/health/route.ts
  convex/schema.ts
  convex/sentryGithub.ts
  dagger/src/index.ts
  docs/ops/observability-ci.md
  lib/env.ts
  lib/sentryPrivacy.ts
  scripts/ci/dagger-call.sh
  scripts/ops/report-sentry-check-in.mjs
  sentry.runtime.mjs
  tests/app/api/health.test.ts
  tests/convex/sentryGithub.test.ts
  tests/lib/env.test.ts
  tests/lib/sentryPrivacy.test.ts
  tests/scripts/dagger-call.test.ts
  tests/scripts/report-sentry-check-in.test.ts
Due: lint, format

fix: self-host theme fonts for deterministic builds
  app/globals.css
  app/layout.tsx
  package.json
  pnpm-lock.yaml
Due: lint, format

fix: preserve mobile layout with self-hosted fonts
  app/host/page.tsx
  components/Lobby.tsx
  components/RoomChrome.tsx
  tests/app/room-page.test.tsx
  tests/components/Lobby.test.tsx
  tests/e2e/game-mobile-viewport.spec.ts
Due: lint, format

chore: remove impossible approval gate
  CODEOWNERS
  README.md
  docs/ops/observability-ci.md
Due: format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md,css}
