Repository misty-step/linejam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for Linejam
# Quality gates: pre-commit (fast), pre-push (comprehensive)

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    test:
      run: pnpm test:ci

    build:
      run: pnpm build:check

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix: add GITLEAKS_LICENSE env var to secret scanning job
  .github/workflows/ci.yml
Due: none

fix: add pull-requests write permission to gitleaks job
  .github/workflows/ci.yml
Due: none

chore: docs update
  DESIGN.md
  TASK.md
  TODO.md
Due: format

fix: apply custom gitleaks config in CI and pre-commit hooks
  .github/workflows/ci.yml
  lefthook.yml
Due: none

feat: add multi-cycle game architecture with schema updates
  BACKLOG.md
  TASK.md
  TODO.md
  convex/game.ts
  convex/schema.ts
Due: lint, format

feat: implement crypto-secure 6-char room codes with backward compatibility
  app/join/page.tsx
  components/Lobby.tsx
  convex/rooms.ts
  lib/roomCode.ts
  tests/roomCode.test.ts
Due: lint, format

feat: implement server-signed guest tokens with HttpOnly cookies
  TODO.md
  app/api/guest/session/route.ts
  lib/auth.ts
  lib/guestToken.ts
  tests/app/api/guest-session.test.ts
  tests/guestToken.test.ts
Due: lint, format

test: improve coverage for convex game logic and rate limiting
  TODO.md
  app/api/guest/session/route.ts
  app/host/page.tsx
  app/join/page.tsx
  app/me/poems/page.tsx
  app/poem/[id]/page.tsx
  app/room/[code]/page.tsx
  components/Lobby.tsx
  components/RevealList.tsx
  components/RevealPhase.tsx
  components/RoomQr.tsx
  components/WritingScreen.tsx
  convex/favorites.ts
  convex/game.ts
  convex/lib/auth.ts
  convex/lib/guestToken.ts
  convex/lib/rateLimit.ts
  convex/poems.ts
  convex/rooms.ts
  convex/schema.ts
  convex/users.ts
  lib/auth.ts
  package.json
  pnpm-lock.yaml
  tests/convex/game.test.ts
  tests/convex/guestToken.test.ts
  tests/convex/rateLimit.test.ts
  tests/convex/wordCount.test.ts
Due: lint, format

fix: replace Node.js crypto with Web Crypto API in Convex runtime
  convex/lib/guestToken.ts
Due: lint, format

fix: resolve P1 and P2 code review feedback
  app/join/page.tsx
  convex/game.ts
Due: lint, format

refactor: replace vague "imprints" terminology with clear UI language
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
Due: lint, format

feat: reduce room codes from 6 to 4 characters
  convex/rooms.ts
Due: lint, format

feat: improve poem display animation and layout
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
Due: lint, format

refactor: remove unused poemNumber prop from PoemDisplay
  components/PoemDisplay.tsx
  components/RevealPhase.tsx
Due: lint, format

refactor: reorganize reveal phase to emphasize user's poem
  components/RevealPhase.tsx
Due: lint, format

fix: escape apostrophe in quote
  app/globals.css
  components/WaitingScreen.tsx
  components/ui/Button.tsx
Due: lint, format

feat: redesign archive poem with Literary Broadside aesthetic
  app/poem/[id]/page.tsx
Due: lint, format

feat: redesign home page with Literary Broadside aesthetic
  README.md
  TASK.md
  TODO.md
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/ThemeToggle.tsx
  convex/_generated/api.d.ts
  convex/migrations.ts
  convex/users.ts
  tests/convex/migrations.test.ts
  tests/convex/users.test.ts
Due: lint, format

chore(homepage): polish homepage layout, add sticky footer, and add authentication buttons
  app/page.tsx
  components/ui/Divider.tsx
Due: lint, format

chore(convex): update generated files
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
Due: lint, format

style: format generated convex files
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
Due: lint, format

chore(convex): update generated files (again)
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
Due: lint, format

chore(config): add .prettierignore to exclude generated files
  .prettierignore
Due: none

feat(infra): add deep health check for uptimerobot monitoring
  app/api/health/route.ts
  convex/health.ts
Due: lint, format

fix(test): mock convex api in health check test to avoid server-only error
  app/api/health/route.ts
  tests/app/api/health.test.ts
Due: lint, format

fix(test): use node environment for health check test to resolve server-only error
  tests/app/api/health.test.ts
Due: lint, format

fix: harden health endpoint for ci
  app/api/health/route.ts
Due: lint, format

fix: add missing semantic color tokens to design system
  app/globals.css
Due: format

feat: create Label component for editorial typography pattern
  components/ui/Label.tsx
Due: lint, format

refactor: migrate game flow components to use Label component
  BACKLOG.md
  TODO.md
  components/Lobby.tsx
  components/RevealPhase.tsx
  components/WaitingScreen.tsx
  components/WritingScreen.tsx
  components/ui/Label.tsx
Due: lint, format

refactor: complete label component migration across all pages
  app/api/health/route.ts
  app/me/poems/page.tsx
  app/me/profile/page.tsx
  app/poem/[id]/page.tsx
  components/RevealList.tsx
  components/RevealPhase.tsx
  components/RoomQr.tsx
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
Due: lint, format

feat: add Alert component for inline error display
  components/ui/Alert.tsx
Due: lint, format

fix: replace browser alert with inline Alert in WritingScreen
  components/WritingScreen.tsx
Due: lint, format

feat: add Stamp component for Japanese ink seal graphics
  components/ui/Stamp.tsx
Due: lint, format

docs: update TODO.md to reflect completed aesthetic tasks
  TODO.md
Due: format

feat: add ink seal stamps to WaitingScreen sealed state
  components/WaitingScreen.tsx
Due: lint, format

feat: add hanko stamp to host badge in lobby
  TODO.md
  components/Lobby.tsx
Due: lint, format

feat: create ornament component for editorial typography
  TODO.md
  components/ui/Ornament.tsx
Due: lint, format

feat: replace footer separators with dagger ornaments
  TODO.md
  app/page.tsx
  app/poem/[id]/page.tsx
Due: lint, format

feat: add persimmon tint to shadow design tokens
  TODO.md
  app/globals.css
Due: format
